{
  "openapi": "3.1.0",
  "info": {
    "title": "Trunk API",
    "version": "2.0.0",
    "description": "The Trunk public API. Every endpoint is scoped to a single organization and requires a credential.\n\n## Authentication\n\nFor automation, send an API key as `Authorization: Bearer <key>`. An organization admin creates one in the Trunk app under **Settings → Developer → API Keys**, and chooses the merge-queue permissions it holds. A key with no permissions can read merge queues but change nothing. Those permissions scope merge queue only: every key can use the Flaky Tests and Dynamic CI endpoints, including their writes, whatever permissions it holds.\n\nA short-lived first-party token in the `x-trunk-token` header is what the `trunk` CLI sends after `trunk auth login`.\n\nA GitHub Actions job can upload impacted targets with no Trunk secret: the `trunk-io/login` action exchanges the run's own GitHub credential (its OIDC token, or on a pull request from a fork its `GITHUB_TOKEN`) for a short-lived first-party token. That token is accepted only by `PUT /v2/impacted-targets`, for the run's own repository — and on a fork pull request, only for that pull request and its head sha.\n\n## Errors\n\nEvery 4xx and 5xx response is a `ErrorResponse`: `{ \"error\": { \"code\", \"message\" } }`. Switch on `code`, which is stable; `message` is prose and may change at any time.\n\n**An authorization denial on a read is reported as `404`, not `403`** — whether a resource exists must not leak across organizations, so a resource in another organization is indistinguishable from one that does not exist. `403 INSUFFICIENT_PERMISSIONS` means the credential is valid but is not permitted the action (or carries no organization).\n\nEvery response carries an `X-Request-Id` header. Quote it in support requests.\n\n## Rate limiting\n\nRequests are limited per organization (currently 100 requests/second). Exceeding it returns `429` with `RATE_LIMIT_EXCEEDED`; retry with backoff. Note that the limit is enforced at the edge, which does not yet wrap its `429` in the `ErrorResponse` envelope described above — treat any `429` as rate limiting regardless of body.\n\n## Compatibility\n\nWithin v2, Trunk may add: new endpoints, new **optional** response fields, new members to any enum (including new `code` values, new queue-entry states, and new providers), and new optional request parameters. **Clients must tolerate values and fields they do not recognize** rather than failing closed — a client that switches exhaustively over an enum will break when a member is added. Removals and semantic changes require a new major version.\n\n## Provider support\n\nMerge queues, verification runs and checks are **GitHub-only** today; `Check.provider` has a single member for that reason. Impacted-target uploads additionally require a `github.com` repository named `owner/repo`. The `Provider` enum lists values the repository index can store, not surfaces that are fully supported.\n\n## Not yet available\n\nA pull request's numeric **position** in its queue, and any wait estimate, are not exposed, and list responses are not ordered by queue position. `GET /v2/merge-queues/{id}/order` returns the order the engine will consider pull requests in, but an array index there is not a wait: use a pending entry's `directlyAhead` rather than counting. This API delivers no events of its own — poll it, or subscribe to [Merge Queue's webhooks](https://docs.trunk.io/merge-queue/webhooks). `Idempotency-Key` is not yet honored, so a mutation that times out must be reconciled by reading the resource back rather than blindly retried.",
    "contact": {
      "name": "Trunk Support",
      "url": "https://docs.trunk.io"
    }
  },
  "servers": [
    {
      "url": "https://api.trunk.io",
      "description": "Production"
    }
  ],
  "security": [
    {
      "apiKey": []
    },
    {
      "trunkToken": []
    }
  ],
  "tags": [
    {
      "name": "mergeQueues",
      "x-group": "Merge Queues"
    },
    {
      "name": "pullRequests",
      "x-group": "Pull Requests"
    },
    {
      "name": "mergeQueueVerificationRuns",
      "x-group": "Verification Runs"
    },
    {
      "name": "impactedTargets",
      "x-group": "Impacted Targets"
    },
    {
      "name": "repositories",
      "x-group": "Repositories"
    },
    {
      "name": "dynamicCi",
      "x-group": "Dynamic CI"
    },
    {
      "name": "ciJobs",
      "x-group": "CI Jobs"
    },
    {
      "name": "ciWorkflowRuns",
      "x-group": "CI Workflow Runs"
    },
    {
      "name": "ciFailureClusters",
      "x-group": "CI Failure Clusters"
    },
    {
      "name": "testCollections",
      "x-group": "Test Collections"
    },
    {
      "name": "tests",
      "x-group": "Tests"
    }
  ],
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "http",
        "scheme": "bearer",
        "description": "An API key, sent as `Authorization: Bearer <key>`. An organization admin creates one in the Trunk app under **Settings → Developer → API Keys** and chooses the merge-queue permissions it holds; a key with none can read merge queues but change nothing. Those permissions scope merge queue only: every key can use the Flaky Tests and Dynamic CI endpoints, including their writes, whatever permissions it holds."
      },
      "trunkToken": {
        "type": "apiKey",
        "in": "header",
        "name": "x-trunk-token",
        "description": "A short-lived first-party token, sent in the `x-trunk-token` header. The `trunk` CLI sends one after `trunk auth login`, and the `trunk-io/login` action obtains one for a GitHub Actions run.\n\n**A token from a GitHub Actions run can only upload impacted targets** (`PUT /v2/impacted-targets`), for the repository the run belongs to; every other endpoint refuses it."
      }
    },
    "schemas": {
      "PaginatedListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {},
            "maxItems": 100
          },
          "nextCursor": {
            "type": ["string", "null"],
            "description": "Opaque cursor for the next page, or null on the last page. Pass it back verbatim as `cursor`; do not construct or inspect one.",
            "example": "AQEKZm9vYmFy"
          },
          "hasMore": {
            "type": "boolean",
            "description": "True when another page is available.",
            "example": true
          },
          "total": {
            "type": "integer",
            "description": "Total rows matching the filter. Present only when the request set `includeTotal=true`.",
            "example": 1247
          }
        },
        "required": ["data", "nextCursor", "hasMore"],
        "description": "The uniform list envelope shared by every paginated endpoint. Forward-only: there is no previous-page cursor."
      },
      "MergeQueueList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MergeQueue"
            },
            "maxItems": 100
          },
          "nextCursor": {
            "type": ["string", "null"],
            "description": "Opaque cursor for the next page, or null on the last page. Pass it back verbatim as `cursor`; do not construct or inspect one.",
            "example": "AQEKZm9vYmFy"
          },
          "hasMore": {
            "type": "boolean",
            "description": "True when another page is available.",
            "example": true
          },
          "total": {
            "type": "integer",
            "description": "Total rows matching the filter. Present only when the request set `includeTotal=true`.",
            "example": 1247
          }
        },
        "required": ["data", "nextCursor", "hasMore"]
      },
      "MergeQueue": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "xK9mP2nQ"
          },
          "repositoryId": {
            "type": "string",
            "description": "Resolve with `GET /v2/repositories/{id}`.",
            "example": "7c9e6679-7425-40de-944b-e07fc1f90ae7"
          },
          "targetBranch": {
            "type": "string",
            "example": "main"
          },
          "state": {
            "$ref": "#/components/schemas/MergeQueueState"
          },
          "mode": {
            "$ref": "#/components/schemas/MergeQueueMode"
          },
          "managedState": {
            "$ref": "#/components/schemas/ManagedState"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "When the queue was created.",
            "example": "2026-07-24T20:26:04.000Z"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "When the queue's own record last changed — its state or configuration. Not affected by entries moving through it.",
            "example": "2026-07-28T11:02:31.000Z"
          },
          "repositoryUrl": {
            "type": "string",
            "description": "Absolute browsable URL of the repository at its provider (not a Trunk API URL).",
            "example": "https://github.com/acme/widgets"
          },
          "pullRequestsUrl": {
            "type": "string",
            "description": "Path — **not** an absolute URL — of this queue's pull-request collection on the Trunk API. Resolve it against the server URL; do not fetch it as-is.",
            "example": "/v2/merge-queues/xK9mP2nQ/pull-requests"
          },
          "htmlUrl": {
            "type": "string",
            "description": "The queue's page in the Trunk web app. Absent when the repository has no keyed organization (no slug to address it by).",
            "example": "https://app.trunk.io/acme/merge-queue/xK9mP2nQ"
          },
          "config": {
            "$ref": "#/components/schemas/MergeQueueConfig"
          }
        },
        "required": [
          "id",
          "repositoryId",
          "targetBranch",
          "state",
          "mode",
          "managedState",
          "createdAt",
          "updatedAt",
          "repositoryUrl",
          "pullRequestsUrl",
          "config"
        ]
      },
      "MergeQueueState": {
        "type": "string",
        "enum": ["running", "paused", "draining", "switchingModes"],
        "description": "The queue's lifecycle state. `switchingModes` is a transient conversion state during which config and mode writes are refused.",
        "example": "running"
      },
      "MergeQueueMode": {
        "type": "string",
        "enum": ["queue", "graph"],
        "description": "The engine a queue runs. `queue` tests entries in strict arrival order, one line. `graph` builds a dependency graph and may test entries speculatively in parallel, which merges faster but can require bisection to attribute a failure. Changing mode is a real conversion, not a flag flip — see `mergeQueues.switchModes`.",
        "example": "queue"
      },
      "ManagedState": {
        "type": "string",
        "enum": ["manual", "terraform", "terraformWithDrift"],
        "description": "Who owns the queue's configuration. `terraform` — the last write came from Terraform, identified on any queue write (create, config, pause/resume/drain, mode switch) by a `User-Agent` or `X-Source` header containing `terraform` or `opentofu`, case-insensitively — the same rule as v1. `terraformWithDrift` — Terraform owned it and a later write was not identified as Terraform's, so the live configuration may differ from the plan. Any such write counts, including pause/resume from other automation. `manual` — never written by Terraform."
      },
      "MergeQueueConfig": {
        "type": "object",
        "properties": {
          "concurrency": {
            "type": "integer",
            "description": "How many entries the queue may verify at once. Higher values merge faster and cost more CI.",
            "example": 5
          },
          "bisectionConcurrency": {
            "type": "integer",
            "description": "How many verification runs the engine may use in parallel when bisecting a failed batch. `0` means bisection gets no dedicated capacity and shares `concurrency`.",
            "example": 0
          },
          "pendingFailureDepth": {
            "type": "integer",
            "description": "How many entries behind a failing entry are pre-emptively marked `pendingFailure` rather than continuing to test against a state that is expected to fail. `0` disables this.",
            "example": 3
          },
          "canOptimisticallyMerge": {
            "type": "boolean",
            "description": "Whether an entry whose own verification passed may merge before every entry ahead of it has merged, when the engine can prove the result still holds.",
            "example": true
          },
          "allowBatching": {
            "type": "boolean",
            "description": "Whether the queue may verify several entries together in one run. Batching is cheaper but a failure must then be attributed by bisection. An individual entry can opt out at submit time; the queue setting is the ceiling, so an entry cannot batch when this is `false`.",
            "example": false
          },
          "batchingMaxWaitTimeMinutes": {
            "type": "integer",
            "description": "How long the queue waits for more entries before starting a batch smaller than `batchingMinSize`. `0` means never wait — start as soon as there is anything to test.",
            "example": 10
          },
          "batchingMinSize": {
            "type": "integer",
            "description": "The batch size the queue prefers before starting a run, subject to `batchingMaxWaitTimeMinutes`. At least 1.",
            "example": 2
          },
          "testingTimeoutMinutes": {
            "type": "integer",
            "description": "How long a verification run may take before the queue abandons it and fails the entry. **`0` means no timeout** — a stuck run will hold its slot indefinitely.",
            "example": 60
          },
          "notReadyTimeoutMinutes": {
            "type": "integer",
            "description": "How long an entry may sit `notReady` before the queue cancels it (`NOT_READY_TIMEOUT_EXPIRED`). **`0` means no timeout.** Stored as whole hours, so this must be a multiple of 60.",
            "example": 120,
            "multipleOf": 60
          },
          "createsPrsForTestingBranches": {
            "type": "boolean",
            "description": "Whether the queue opens a provider pull request for each testing branch it creates. Makes runs visible in the provider UI at the cost of extra pull-request noise.",
            "example": false
          },
          "areCommentsEnabled": {
            "type": "boolean",
            "description": "Whether the queue posts status comments on pull requests it processes.",
            "example": true
          },
          "areCommandsEnabled": {
            "type": "boolean",
            "description": "Whether the queue acts on comment commands (e.g. a comment asking to enqueue or dequeue).",
            "example": true
          },
          "isStatusCheckEnabled": {
            "type": "boolean",
            "description": "Whether the queue publishes its own status check onto each pull request, so its state is visible in the provider's merge box.",
            "example": true
          },
          "isExtensionEnabled": {
            "type": "boolean",
            "description": "Whether Trunk's browser extension surfaces queue controls on this repository's pull requests.",
            "example": false
          },
          "areLabelCommandsEnabled": {
            "type": "boolean",
            "description": "Whether applying `enqueueingLabel` to a pull request submits it to this queue.",
            "example": true
          },
          "areStateLabelsEnabled": {
            "type": "boolean",
            "description": "Whether the queue maintains labels reflecting each entry's state. Trunk owns labels prefixed `trunk-`, which is why `enqueueingLabel` may not collide with that prefix.",
            "example": true
          },
          "requiredStatuses": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "maxItems": 100,
            "description": "The provider check names that must pass for an entry to be considered verified. **Empty means the queue gates on nothing** — an entry passes verification without any check succeeding. Security-relevant: this is the queue's merge gate.",
            "example": ["build", "lint"]
          },
          "allowedBotSubmitters": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "maxItems": 100,
            "description": "Bot accounts permitted to submit to this queue in addition to human users. Empty means no bots may submit. Security-relevant: this is who may enqueue.",
            "example": ["dependabot"]
          },
          "batchingRules": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BatchingRule"
            },
            "maxItems": 100,
            "description": "Rules changing how pull requests are batched based on the build targets they impact. Empty means every entry batches normally. Applies to queues in `graph` mode that upload impacted targets.",
            "example": [
              {
                "targetPattern": "//db/migrations:*",
                "policy": "isolate"
              }
            ]
          },
          "directMergeMode": {
            "$ref": "#/components/schemas/DirectMergeMode"
          },
          "optimizationMode": {
            "$ref": "#/components/schemas/OptimizationMode"
          },
          "mergeMethod": {
            "$ref": "#/components/schemas/MergeMethod"
          },
          "testBranchConstructionMode": {
            "$ref": "#/components/schemas/TestBranchConstructionMode"
          },
          "enqueueingLabel": {
            "type": "string",
            "description": "The label that submits a pull request to this queue when `areLabelCommandsEnabled` is true. May not collide with a Trunk-reserved `trunk-*` state label.",
            "example": "trunk-merge"
          }
        },
        "required": [
          "concurrency",
          "bisectionConcurrency",
          "pendingFailureDepth",
          "canOptimisticallyMerge",
          "allowBatching",
          "batchingMaxWaitTimeMinutes",
          "batchingMinSize",
          "testingTimeoutMinutes",
          "notReadyTimeoutMinutes",
          "createsPrsForTestingBranches",
          "areCommentsEnabled",
          "areCommandsEnabled",
          "isStatusCheckEnabled",
          "isExtensionEnabled",
          "areLabelCommandsEnabled",
          "areStateLabelsEnabled",
          "requiredStatuses",
          "allowedBotSubmitters",
          "batchingRules",
          "directMergeMode",
          "optimizationMode",
          "mergeMethod",
          "testBranchConstructionMode",
          "enqueueingLabel"
        ],
        "description": "A queue's full configuration. Two fields are merge-protection controls rather than tuning knobs — `requiredStatuses` (what must pass) and `allowedBotSubmitters` (who may enqueue) — so treat write access to this object as security-relevant."
      },
      "BatchingRule": {
        "type": "object",
        "properties": {
          "targetPattern": {
            "type": "string",
            "description": "The impacted-target label this rule applies to. Matched exactly, or as a prefix when it ends in a single `*`. A `*` anywhere other than the last character is rejected, as is `*` alone — a rule matching every target is a queue-wide setting rather than a rule.",
            "example": "//db/migrations:*"
          },
          "policy": {
            "$ref": "#/components/schemas/BatchingRulePolicy"
          }
        },
        "required": ["targetPattern", "policy"],
        "description": "A rule that changes how a pull request is batched based on the build targets it impacts. Evaluated from the impacted targets uploaded for the pull request's head commit each time the queue forms batches, so it follows pushes that add or remove a matching target. A pull request that reports impacting all targets matches no rule."
      },
      "BatchingRulePolicy": {
        "type": "string",
        "enum": ["isolate"],
        "description": "What the queue does with a pull request whose impacted targets match the rule. `isolate` tests it on its own rather than in a batch, exactly as `/trunk merge --no-batch` does.",
        "example": "isolate"
      },
      "DirectMergeMode": {
        "type": "string",
        "enum": ["off", "always"],
        "description": "Whether an entry may bypass queue testing and merge directly when the target branch is already at its tested state. `off` always tests through the queue; `always` merges directly whenever it is safe to do so.",
        "example": "off"
      },
      "OptimizationMode": {
        "type": "string",
        "enum": ["off", "bisectionSkipRedundantTests"],
        "description": "Whether the engine may skip work it can prove is redundant. `off` runs every verification. `bisectionSkipRedundantTests` applies while a failed batch is being bisected: a combination of pull requests that has already failed is not tested again, and that failure is reused, so an entry can reach `failed` (`TEST_RUN_FAILED_BY_OPTIMIZATION`) without a run of its own. If that does not yet show which pull request caused it, its pull requests are re-tested straight away, alongside the rest of the bisection. It never passes an entry without a run.",
        "example": "off"
      },
      "MergeMethod": {
        "type": "string",
        "enum": ["mergeCommit", "squash", "rebase"],
        "description": "How the queue writes a passing entry onto the target branch: a merge commit, a single squashed commit, or replayed commits. Must be permitted by the repository's own provider settings.",
        "example": "squash"
      },
      "TestBranchConstructionMode": {
        "type": "string",
        "enum": ["renameTempBranch", "pushNewBranchFromTemp"],
        "description": "How the queue turns the temporary branch it builds into the `trunk-merge` branch CI runs on. `renameTempBranch` renames the ref. `pushNewBranchFromTemp` creates the final ref at the temporary branch's head commit and deletes the temporary ref, which needs no rename permission — use it when an organization- or enterprise-level ruleset targets these branches, since GitHub's rename restriction is the one rule an exempt bypass actor cannot lift.",
        "example": "renameTempBranch"
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "$ref": "#/components/schemas/ErrorCode"
              },
              "message": {
                "type": "string",
                "description": "Human-readable description of what went wrong. Not stable — do not parse.",
                "example": "No merge queue found with ID xK9mP2nQ"
              }
            },
            "required": ["code", "message"]
          }
        },
        "required": ["error"],
        "description": "The uniform error envelope. Every 4xx and 5xx response in this API has this shape."
      },
      "ErrorCode": {
        "type": "string",
        "enum": [
          "AUTHENTICATION_REQUIRED",
          "INVALID_TOKEN",
          "INSUFFICIENT_PERMISSIONS",
          "INTERNAL_ERROR",
          "VALIDATION_FAILED",
          "NOT_FOUND",
          "INVALID_CURSOR",
          "MERGE_QUEUE_NOT_FOUND",
          "PR_ALREADY_ENQUEUED",
          "PR_NOT_ENQUEUEABLE",
          "UPSTREAM_ERROR",
          "VERIFICATION_RUN_NOT_FOUND",
          "PR_NOT_FOUND",
          "REPOSITORY_NOT_FOUND",
          "IMPACTED_TARGETS_UNSUPPORTED",
          "QUEUE_ALREADY_EXISTS",
          "QUEUE_HAS_ACTIVE_ENTRIES",
          "MODE_CHANGE_IN_PROGRESS",
          "PR_NOT_IN_ACTIVE_STATE",
          "MERGE_QUEUE_NOT_CREATABLE",
          "PR_TESTS_NOT_RESTARTABLE",
          "ALLOWED_BOT_SUBMITTERS_FROZEN",
          "PROVIDER_URL_NOT_FOUND",
          "CI_HOST_UNSUPPORTED",
          "CI_SCOPE_NOT_FOUND",
          "CI_JOB_NOT_FOUND",
          "CI_FAILURE_CLUSTER_NOT_FOUND",
          "TEST_COLLECTION_NOT_FOUND",
          "TEST_NOT_FOUND",
          "TICKETING_NOT_CONFIGURED",
          "TICKETING_CREDENTIALS_INVALID",
          "TICKET_NOT_FOUND",
          "TICKET_LINK_CONFLICT",
          "RATE_LIMIT_EXCEEDED"
        ],
        "description": "Stable machine-readable error identifier. Switch on this, never on `message`. A shipped code's meaning never changes, but **new codes may be added within v2** — treat an unrecognized code as a generic failure of its HTTP status rather than failing closed.",
        "example": "MERGE_QUEUE_NOT_FOUND"
      },
      "CreateMergeQueueRequest": {
        "type": "object",
        "properties": {
          "repositoryId": {
            "type": "string",
            "format": "uuid"
          },
          "targetBranch": {
            "type": "string",
            "minLength": 1
          },
          "mode": {
            "type": "string",
            "enum": ["queue", "graph"]
          },
          "concurrency": {
            "type": "integer",
            "minimum": 1,
            "maximum": 1000
          },
          "bisectionConcurrency": {
            "type": "integer",
            "minimum": 0,
            "maximum": 1000
          },
          "enqueueingLabel": {
            "type": "string",
            "minLength": 1
          }
        },
        "required": ["repositoryId", "targetBranch"],
        "additionalProperties": false,
        "description": "Omitting `mode` or `concurrency` applies the merge service's own defaults rather than a schema default, because what an omission means belongs to that service."
      },
      "PrometheusExposition": {
        "type": "string",
        "description": "Prometheus text exposition format 0.0.4. The metric names, help text and labels are v1's `getMergeQueueMetrics`, so an existing scrape config or dashboard needs only its URL and credential changed. Every series carries `repo` (the repository's name), `branch` and `queue_type` (`main` or `bisection`); `mq_pr_conclusions_1h_total` and `mq_pr_time_in_queue_1h_seconds*` add `conclusion`, and `mq_pr_state_duration_1h_seconds*` adds `state`. Gauges report the queue now; `_1h` series cover the last hour.",
        "example": "# HELP mq_depth_current Number of PRs currently in the queue (in any non-terminal state).\n# TYPE mq_depth_current gauge\nmq_depth_current{repo=\"acme/widgets\",branch=\"main\",queue_type=\"main\"} 4\n"
      },
      "MergeQueueOrder": {
        "type": "object",
        "properties": {
          "mode": {
            "$ref": "#/components/schemas/MergeQueueMode"
          },
          "queueState": {
            "$ref": "#/components/schemas/MergeQueueState"
          },
          "batchingEnabled": {
            "type": "boolean",
            "description": "Batching is configured. When false every pull request forms its own predicted batch, and `directlyAhead` is empty throughout.",
            "example": true
          },
          "isolationResolved": {
            "type": "boolean",
            "description": "False when an `ISOLATE` batching rule could apply to this queue. Resolving those costs one impacted-target lookup per pull request, so this read skips it — which can move an isolated pull request into an earlier predicted batch, and so earlier in `pending`, than the engine will actually consider it.",
            "example": true
          },
          "hasCycle": {
            "type": "boolean",
            "description": "The queue's graph has a cycle and the engine fell back to a degraded ordering. `directlyAhead` and `heldBy` are empty, and a held pull request reports as `schedulable`.",
            "example": false
          },
          "batches": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OrderedBatch"
            },
            "maxItems": 10000,
            "description": "Batches that have a verification run, in dependency order — a batch appears after the batches it builds on, with bisections last. **Not start order**, and not all of them are still testing: read each batch's `state`."
          },
          "pending": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OrderedPendingItem"
            },
            "maxItems": 10000,
            "description": "Admitted pull requests, in the order the engine will consider them; held ones come after schedulable ones. A `schedulable` entry's index **is** the number of admitted, schedulable pull requests the engine will consider before it — with batching off that is exactly the index — but that is not a wait: see `predictedBatch`."
          },
          "awaitingAdmission": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/QueuedPullRequest"
            },
            "maxItems": 10000,
            "description": "Pull requests past the engine's graph soft cap, which hold no position yet. Ordered by a DIFFERENT comparator than `pending`, so the two lists are not one sequence, and truncated — see `awaitingAdmissionTotal`."
          },
          "awaitingAdmissionTotal": {
            "type": "integer",
            "description": "How many are awaiting admission in total. The engine truncates the list, so compare this with `awaitingAdmission.length` to detect it; read a specific pull request through `GET /v2/pull-requests/{id}` rather than scanning.",
            "example": 0
          }
        },
        "required": [
          "mode",
          "queueState",
          "batchingEnabled",
          "isolationResolved",
          "hasCycle",
          "batches",
          "pending",
          "awaitingAdmission",
          "awaitingAdmissionTotal"
        ],
        "description": "The queue's dispatch order: what is testing, what is admitted and waiting, and what has not been admitted. Pull requests that are not ready are deliberately absent — they hold no position — and are readable through `GET /v2/pull-requests/{id}`."
      },
      "OrderedBatch": {
        "type": "object",
        "properties": {
          "verificationRunId": {
            "type": "string",
            "description": "The run testing this batch — pass it to `GET /v2/merge-queue-verification-runs/{id}`.",
            "example": "4f3e2d1c-0b9a-4876-9543-210fedcba987"
          },
          "state": {
            "$ref": "#/components/schemas/QueueEntryState"
          },
          "isBisection": {
            "type": "boolean",
            "description": "This batch is a bisection, splitting a failed batch to find the culprit. Bisections dispatch on their own concurrency budget, so one can start ahead of a lower-numbered `predictedBatch`.",
            "example": false
          },
          "pullRequests": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/QueuedPullRequest"
            },
            "maxItems": 10000,
            "description": "The pull requests this run is testing together."
          }
        },
        "required": [
          "verificationRunId",
          "state",
          "isBisection",
          "pullRequests"
        ],
        "description": "A batch with a verification run — testing, passed, merging, or holding others back after a failure. `state` says which."
      },
      "QueueEntryState": {
        "type": "string",
        "enum": [
          "notReady",
          "pending",
          "testing",
          "testsPassed",
          "merged",
          "failed",
          "cancelled",
          "pendingFailure"
        ],
        "description": "Where a pull request sits in its queue's lifecycle.\n\n| Value | Meaning |\n| --- | --- |\n| `notReady` | Enqueued but not yet eligible to test — a readiness condition is unmet (see `QueueEntry.readiness`). |\n| `pending` | Ready and waiting for a test slot, or waiting on an earlier entry. |\n| `testing` | A verification run is in flight for this entry. |\n| `testsPassed` | Verification succeeded; waiting to merge. |\n| `merged` | Terminal — merged into the target branch. |\n| `failed` | Terminal — verification or the merge itself failed. |\n| `cancelled` | Terminal — removed from the queue (dequeued, or cancelled by the engine). |\n| `pendingFailure` | A failure is expected because an entry ahead failed, but this entry has not been re-tested yet. Not terminal: it usually returns to `pending` or `testing`. |\n\nNew members may be added within v2.",
        "example": "testing"
      },
      "QueuedPullRequest": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The pull request's id in this API — pass it to `GET /v2/pull-requests/{id}`.",
            "example": "6f1d2c3b-4a59-4e6f-8a7b-9c0d1e2f3a4b"
          },
          "number": {
            "type": "integer",
            "example": 4901
          },
          "sha": {
            "type": "string",
            "description": "The head commit that was included in this run. Compare with the pull request's current `sha` to detect that its branch moved since.",
            "example": "9c58bf40e5c1a2b3d4e5f60718293a4b5c6d7e8f"
          },
          "title": {
            "type": "string",
            "example": "Add the widget endpoint"
          },
          "url": {
            "type": "string",
            "description": "The pull request on its provider. Absent until Trunk's sync has populated it.",
            "example": "https://github.com/acme/widgets/pull/4901"
          }
        },
        "required": ["id", "number", "sha", "title"],
        "description": "A pull request in the queue's dispatch order."
      },
      "OrderedPendingItem": {
        "type": "object",
        "properties": {
          "pullRequest": {
            "$ref": "#/components/schemas/QueuedPullRequest"
          },
          "schedulability": {
            "$ref": "#/components/schemas/PendingSchedulability"
          },
          "predictedBatch": {
            "type": "integer",
            "description": "1-based, and REPEATS across every pull request predicted to start testing together. Absent for a held item, which is excluded from the prediction. This is an order of CONSIDERATION, not of execution: several predicted batches commonly start at once, so a lower number is not a shorter wait.",
            "example": 1
          },
          "directlyAhead": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/QueuedPullRequest"
            },
            "maxItems": 10000,
            "description": "The pull requests immediately in front of this one in the queue's graph. Reduced-DAG adjacency, not a conflict set: edges encode impacted-target overlap, so an indirect overlap is represented through the item between them. Empty when `batchingEnabled` is false or `hasCycle` is true."
          },
          "heldBy": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/QueuedPullRequest"
            },
            "maxItems": 10000,
            "description": "The failing pull requests holding this one back, when `schedulability` is `heldBehindFailure`."
          }
        },
        "required": [
          "pullRequest",
          "schedulability",
          "directlyAhead",
          "heldBy"
        ],
        "description": "A pull request admitted to the queue but not yet testing."
      },
      "PendingSchedulability": {
        "type": "string",
        "enum": ["schedulable", "heldBehindFailure"],
        "description": "`schedulable` means eligible for the next scheduling pass, NOT that it will run next — the pass is still gated by `queueState`, the queue's testing-concurrency cap, and predecessors lacking a usable test branch. `heldBehindFailure` means a `PENDING_FAILURE` ancestor is holding it; `heldBy` names which."
      },
      "MergeGraph": {
        "type": "object",
        "properties": {
          "nodes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MergeGraphNode"
            },
            "maxItems": 10000
          },
          "edges": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MergeGraphEdge"
            },
            "maxItems": 10000,
            "description": "Transitively reduced, so an indirect dependency is represented through the node between its endpoints rather than as its own edge."
          }
        },
        "required": ["nodes", "edges"],
        "description": "The queue's dependency graph. **The dispatch order is NOT derivable from this** — the engine schedules on a cascaded priority and a pending-failure gate, neither of which is in this payload; use `GET /v2/merge-queues/{id}/order`. It also contains only pull requests the engine has admitted to its graph, so anything awaiting admission, or not yet ready, is absent."
      },
      "MergeGraphNode": {
        "type": "object",
        "properties": {
          "pullRequestNumber": {
            "type": "integer",
            "description": "Identifies this node within the graph, and resolves to a pull request through `GET /v2/pull-requests` with the queue's `repositoryId`. A merge queue holds at most one entry per pull request, so the number is unique here.",
            "example": 4901
          },
          "title": {
            "type": "string",
            "example": "Add the widget endpoint"
          },
          "author": {
            "type": "string",
            "example": "octocat"
          },
          "state": {
            "$ref": "#/components/schemas/QueueEntryState"
          },
          "priorityValue": {
            "type": "integer",
            "description": "The pull request's OWN priority. Not the cascaded value the engine schedules on — that is computed per pass and is not exposed here.",
            "example": 100
          },
          "priorityName": {
            "type": "string",
            "example": "medium"
          },
          "skipsTheLine": {
            "type": "boolean",
            "example": false
          },
          "allowsBatching": {
            "type": "boolean",
            "example": true
          },
          "verificationRunId": {
            "type": "string",
            "description": "The run testing this node, when it is testing.",
            "example": "4f3e2d1c-0b9a-4876-9543-210fedcba987"
          },
          "isBisection": {
            "type": "boolean",
            "example": false
          },
          "impactedTargets": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "maxItems": 10000,
            "description": "Present only under `includeImpactedTargets`. Truncated — see `totalImpactedTargets`."
          },
          "totalImpactedTargets": {
            "type": "integer",
            "example": 12
          }
        },
        "required": [
          "pullRequestNumber",
          "title",
          "author",
          "state",
          "priorityValue",
          "skipsTheLine",
          "allowsBatching",
          "isBisection"
        ],
        "description": "One pull request in the queue's graph."
      },
      "MergeGraphEdge": {
        "type": "object",
        "properties": {
          "fromPullRequestNumber": {
            "type": "integer",
            "example": 4901
          },
          "toPullRequestNumber": {
            "type": "integer",
            "example": 4902
          },
          "commonImpactedTargets": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "maxItems": 10000,
            "description": "Why the edge exists: the targets both pull requests impact. Present only under `includeImpactedTargets`, and truncated."
          },
          "totalCommonImpactedTargets": {
            "type": "integer",
            "example": 3
          }
        },
        "required": ["fromPullRequestNumber", "toPullRequestNumber"],
        "description": "A dependency between two pull requests, derived from overlapping impacted targets."
      },
      "TestingResultList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TestingResult"
            },
            "maxItems": 100
          },
          "nextCursor": {
            "type": ["string", "null"],
            "description": "Opaque cursor for the next page, or null on the last page. Pass it back verbatim as `cursor`; do not construct or inspect one.",
            "example": "AQEKZm9vYmFy"
          },
          "hasMore": {
            "type": "boolean",
            "description": "True when another page is available.",
            "example": true
          },
          "total": {
            "type": "integer",
            "description": "Total rows matching the filter. Present only when the request set `includeTotal=true`.",
            "example": 1247
          }
        },
        "required": ["data", "nextCursor", "hasMore"]
      },
      "TestingResult": {
        "type": "object",
        "properties": {
          "pullRequestNumber": {
            "type": "integer",
            "exclusiveMinimum": 0,
            "description": "The pull request's number on the provider.",
            "example": 4231
          },
          "endedAt": {
            "type": "string",
            "format": "date-time",
            "description": "When this stretch of testing ended. The end of the testing, not of the queue entry — see `entryConclusion`.",
            "example": "2026-09-21T17:04:11.000Z"
          },
          "testingDurationMs": {
            "type": "integer",
            "minimum": 0,
            "description": "How long this stretch of testing lasted. Recorded to whole seconds, so always a multiple of 1000.",
            "example": 754000
          },
          "outcome": {
            "$ref": "#/components/schemas/TestingOutcome"
          },
          "entryConclusion": {
            "$ref": "#/components/schemas/QueueEntryConclusion"
          },
          "isBisection": {
            "type": "boolean",
            "description": "This testing was itself part of a bisection.",
            "example": false
          },
          "startedBisection": {
            "type": "boolean",
            "description": "This failure caused the pull request's batch to be split. Can be true together with `isBisection`, when a bisection step splits again.",
            "example": false
          },
          "verificationRunId": {
            "type": "string",
            "description": "The run this testing belongs to — pass it to `GET /v2/merge-queue-verification-runs/{id}`. Absent on results recorded before runs were tracked on them.",
            "example": "4f3e2d1c-0b9a-4876-9543-210fedcba987"
          }
        },
        "required": [
          "pullRequestNumber",
          "endedAt",
          "testingDurationMs",
          "isBisection",
          "startedBisection"
        ],
        "description": "One pull request's stretch of testing in a merge queue. A pull request appears once per attempt, so several times if its testing restarted, and a batched run appears once per pull request it tested. `outcome` and `entryConclusion` are absent when Trunk reports no classification."
      },
      "TestingOutcome": {
        "type": "string",
        "enum": ["passed", "failed", "interrupted", "cancelled"],
        "description": "How this stretch of testing ended. `passed` — the run passed, including a passing bisection step. `failed` — the run failed, or the pull request entered bisection. `interrupted` — testing was cut short and will be retried (a restart, a preemption, or a base branch change). `cancelled` — the pull request left the queue while testing.",
        "example": "passed"
      },
      "QueueEntryConclusion": {
        "type": "string",
        "enum": ["merged", "failed", "cancelled"],
        "description": "How the queue entry this testing belonged to ended. A pull request that fails and is resubmitted has a new entry.",
        "example": "merged"
      },
      "PullRequest": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "0f8fad5b-d9cb-469f-a165-70867728950e"
          },
          "repositoryId": {
            "type": "string",
            "example": "7c9e6679-7425-40de-944b-e07fc1f90ae7"
          },
          "number": {
            "type": "integer",
            "example": 4901
          },
          "title": {
            "type": "string",
            "example": "feat: terminate /v2 at the gateway"
          },
          "branch": {
            "type": "string",
            "example": "phil/implement-remaining-apis"
          },
          "sha": {
            "type": "string",
            "description": "The head commit of the pull request as Trunk last indexed it. Compare against a verification run's `testedPullRequests[].sha` to tell whether a run tested the current head or a superseded one — a mismatch means the branch moved after that run started.",
            "example": "9c58bf40e5c1a2b3d4e5f60718293a4b5c6d7e8f"
          },
          "baseBranch": {
            "type": "string",
            "description": "The branch this pull request targets. Must match the queue's `targetBranch` to be enqueueable — `readiness.doesBaseBranchMatch` reports that check.",
            "example": "main"
          },
          "author": {
            "type": "string",
            "example": "octocat"
          },
          "url": {
            "type": "string",
            "description": "Omitted until the provider sync has populated it.",
            "example": "https://github.com/acme/widgets/pull/4901"
          },
          "state": {
            "$ref": "#/components/schemas/PullRequestState"
          },
          "isCurrentlySubmittedToQueue": {
            "type": "boolean",
            "description": "True when this pull request's queue entry is non-terminal.",
            "example": true
          },
          "queueEntry": {
            "$ref": "#/components/schemas/QueueEntry"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "example": "2026-07-28T10:55:00.000Z"
          },
          "htmlUrl": {
            "type": "string",
            "description": "The pull request's page in the Trunk web app. Absent when the repository has no keyed organization.",
            "example": "https://app.trunk.io/acme/pull/4901?repo=1a2b3c4d"
          },
          "viewerIsAuthor": {
            "type": "boolean",
            "description": "Whether the authenticated user authored this pull request. Provided on the queue pull-request list (`GET /merge-queues/{id}/pull-requests`); absent elsewhere and when the caller is not a signed-in user.",
            "example": true
          },
          "ci": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/PullRequestCi"
              },
              {
                "type": "null"
              }
            ],
            "description": "CI on the head commit. Null when the repository has no CI data. Absent from lists, from a lookup of more than one pull request, and when the CI read failed."
          }
        },
        "required": [
          "id",
          "repositoryId",
          "number",
          "title",
          "branch",
          "sha",
          "baseBranch",
          "author",
          "isCurrentlySubmittedToQueue",
          "createdAt"
        ],
        "description": "A pull request Trunk has indexed. There is no nested repository object — resolve `repositoryId` with `GET /v2/repositories/{id}`."
      },
      "PullRequestState": {
        "type": "string",
        "enum": ["open", "closed", "merged"],
        "description": "The pull request's state at the provider, as Trunk last indexed it — not its queue state, which is `QueueEntry.state`.",
        "example": "open"
      },
      "QueueEntry": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "This membership's own id — the merge item, not the pull request. A pull request has at most one entry at a time, and an ordinary resubmission after a cancellation reuses it. It is not a permanent handle on the pull request, though: an entry the queue tears down is replaced, so a pull request whose base branch moves it to a different queue gets a new id on its next submission.",
            "example": "6f1c2d3e-4a5b-4c6d-8e9f-0a1b2c3d4e5f"
          },
          "mergeQueueId": {
            "type": "string",
            "example": "xK9mP2nQ"
          },
          "state": {
            "$ref": "#/components/schemas/QueueEntryState"
          },
          "stateChangedAt": {
            "type": "string",
            "format": "date-time",
            "description": "When the entry entered its current `state` — the newest `changedAt` in its queue-entry history, or `createdAt` before any transition was recorded.",
            "example": "2026-07-28T11:40:02.000Z"
          },
          "priorityValue": {
            "type": "integer",
            "description": "The entry's numeric priority. 0 means skip the line. A submit body carries this OR `priorityName`, never both — but the queue usually resolves a submitted name to a value, so a read normally returns both and they agree. Either may still be absent on its own: some entries carry a value the queue never named, and some a name it never resolved.",
            "example": 100
          },
          "priorityName": {
            "type": "string",
            "description": "The entry's named priority. A submit body carries this OR `priorityValue`, never both; a read normally returns both, since the queue stores the value it resolved this name to. Either may still be absent on its own — do not infer one from the presence of the other.",
            "example": "high"
          },
          "usedDefaultPriorityName": {
            "type": "string",
            "description": "The default priority name the engine applied because a submission supplied no priority. It records this when the entry enters the queue proper, not at submission, and a resubmission does not clear it — so an entry can carry the value from an earlier cycle, including beside an explicitly-supplied `priorityValue`. A `PATCH /v2/pull-requests/{id}/queue-entry` on an already-enqueued entry does clear it, because that patch resupplies the priority explicitly.",
            "example": "medium"
          },
          "skipsTheLine": {
            "type": "boolean",
            "description": "Read-only — derived from `priorityValue === 0`. To set it, send `priorityValue: 0`.",
            "example": false
          },
          "allowBatching": {
            "type": "boolean",
            "description": "Whether this entry may be verified in a batch with others. The queue's own `config.allowBatching` is the ceiling — an entry cannot batch when the queue forbids it.",
            "example": true
          },
          "direct": {
            "type": "boolean",
            "description": "Whether the entry was sent directly to the queue past an unmet readiness condition (`direct` on submit or on `PATCH /v2/pull-requests/{id}/queue-entry`). It did not skip the queue's own tests.",
            "example": false
          },
          "verifiedByVerificationRunId": {
            "type": "string",
            "description": "The verification run whose pass the queue merged this entry on. Present only for an entry the queue itself merged straight out of `testsPassed`; absent for a force merge, a direct merge, a merge made on the provider, or any unmerged entry. For an optimistically merged entry it is the successor's run — the one that vouched. Read it with `GET /v2/merge-queue-verification-runs/{id}`.",
            "example": "a1b2c3d4-e5f6-4718-9a0b-1c2d3e4f5061"
          },
          "readiness": {
            "$ref": "#/components/schemas/Readiness"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "When this queue entry was created — the pull request's FIRST submission. The entry is reused across resubmissions (a cancelled or failed pull request submitted again keeps it), so on a pull request that took several trips this is not the start of the trip that merged. For that, read the oldest `notReady` transition of the trip you care about from `GET /v2/pull-requests/{id}/queue-entry-history`.",
            "example": "2026-07-28T11:02:31.000Z"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "When the entry row last changed, including an attribute-only write (priority, batching) that records no transition. For the last state change specifically, read `stateChangedAt`.",
            "example": "2026-07-28T11:40:02.000Z"
          }
        },
        "required": [
          "id",
          "mergeQueueId",
          "state",
          "stateChangedAt",
          "skipsTheLine",
          "allowBatching",
          "direct",
          "readiness",
          "createdAt",
          "updatedAt"
        ],
        "description": "A pull request's queue membership. There is at most one ever — re-submitting the same pull request mutates this record rather than adding another."
      },
      "Readiness": {
        "type": "object",
        "properties": {
          "requiresImpactedTargets": {
            "type": "boolean",
            "description": "Whether this queue gates the entry on an impacted-target upload. When true and `hasImpactedTargets` is false, the entry stays `notReady` until CI uploads them (`impactedTargets.upload`).",
            "example": true
          },
          "hasImpactedTargets": {
            "type": "boolean",
            "description": "Whether impacted targets are uploaded for the entry's commit — for a stacked pull request, for every pull request its queued stack covers — or not needed (queue mode, or a pull request predating the queue's switch to graph mode). ABSENT, not false, in two cases: on a list read (which includes a coordinates lookup addressed by more than one `number`), and on the response to a write whose post-write lookup failed. Absence means 'not answered here' — never 'no targets'.",
            "example": true
          },
          "doesBaseBranchMatch": {
            "type": "boolean",
            "description": "Whether the pull request's `baseBranch` still equals the queue's `targetBranch`. False means it was retargeted after being enqueued and cannot merge through this queue.",
            "example": true
          },
          "mergeability": {
            "$ref": "#/components/schemas/Mergeability"
          },
          "mergeabilityDetails": {
            "$ref": "#/components/schemas/MergeabilityDetails"
          }
        },
        "required": [
          "requiresImpactedTargets",
          "doesBaseBranchMatch",
          "mergeability"
        ],
        "description": "Whether the pull request currently satisfies what the queue needs of it. Recomputed at read time, NOT a snapshot of the entry's state change — so a `merged` entry can report `notMergeable` (its branch has since moved, or the provider now says so), which is a fact about the pull request today rather than a contradiction of the merge."
      },
      "Mergeability": {
        "type": "string",
        "enum": ["mergeable", "notMergeable", "inProgress", "unspecified"],
        "description": "The provider's view of whether the pull request can merge. `unspecified` means the provider has not reported one.",
        "example": "mergeable"
      },
      "MergeabilityDetails": {
        "type": "object",
        "properties": {
          "provider": {
            "type": "string",
            "enum": ["github"],
            "example": "github"
          },
          "reasons": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MergeabilityReason"
            },
            "maxItems": 100,
            "description": "The reasons the provider is blocking the merge.",
            "example": [
              {
                "code": "reviewRequired",
                "message": "needs 1 more approving review",
                "have": 0,
                "need": 1
              }
            ]
          }
        },
        "required": ["provider", "reasons"],
        "description": "Present only when Trunk recorded structured reasons for a `notMergeable` verdict — absent otherwise (a repo Trunk has not enriched, or an entry past the not-ready window). Absence never means the pull request is mergeable; fall back to `mergeability`."
      },
      "MergeabilityReason": {
        "type": "object",
        "properties": {
          "code": {
            "$ref": "#/components/schemas/MergeabilityReasonCode"
          },
          "message": {
            "type": "string",
            "description": "Human-readable explanation, for display. Machines should branch on `code`, not this string.",
            "example": "needs 1 more approving review"
          },
          "have": {
            "type": "integer",
            "minimum": 0,
            "description": "`reviewRequired` only: approving reviews currently present.",
            "example": 0
          },
          "need": {
            "type": "integer",
            "minimum": 0,
            "description": "`reviewRequired` only: approving reviews required.",
            "example": 1
          },
          "check": {
            "type": "string",
            "description": "`awaitingCheck` / `failingCheck` only: the required check's name.",
            "example": "build"
          },
          "ontoPrNumber": {
            "type": "integer",
            "minimum": 0,
            "description": "`stackNeedsRebase` only: the number of the pull request this branch must be rebased onto.",
            "example": 3
          }
        },
        "required": ["code", "message"],
        "description": "One structured reason behind a `notMergeable` verdict."
      },
      "MergeabilityReasonCode": {
        "type": "string",
        "enum": [
          "conflict",
          "behind",
          "draft",
          "closed",
          "pending",
          "awaitingCheck",
          "failingCheck",
          "reviewRequired",
          "changesRequested",
          "stackNeedsRebase",
          "other"
        ],
        "description": "Why the pull request is not mergeable. `behind`, `pending`, and `awaitingCheck` resolve without author action (Trunk updates the branch; GitHub is still computing; a required check is still running); the rest need the author to act. `stackNeedsRebase` means a PR in the middle of this GitHub stack was pushed to without rebasing the ones above it. `other` is a block Trunk could not attribute to a specific rule.",
        "example": "reviewRequired"
      },
      "PullRequestCi": {
        "type": "object",
        "properties": {
          "headSha": {
            "type": "string",
            "description": "The commit the counts describe: the pull request's head.",
            "example": "a0de7a77e8d758a346f83ed19209a5a25814bb17"
          },
          "observedAt": {
            "type": "string",
            "format": "date-time",
            "example": "2026-09-29T15:12:25.000Z"
          },
          "pollAfterSeconds": {
            "type": ["integer", "null"],
            "description": "When to read again: 10 while a job is queued or running, 30 while a failure's analysis is on its way, null when nothing on this commit will change.",
            "example": 10
          },
          "jobs": {
            "$ref": "#/components/schemas/CiJobCounts"
          },
          "jobsUrl": {
            "type": "string",
            "description": "The jobs on `headSha`: `GET /v2/ci-jobs`, already filtered. Root-relative: resolve it against the host you called.",
            "example": "/v2/ci-jobs?pullRequestId=0f8fad5b-d9cb-469f-a165-70867728950e&commitSha=a0de7a77e8d758a346f83ed19209a5a25814bb17"
          },
          "workflowRunsUrl": {
            "type": "string",
            "description": "The workflow runs on `headSha`: `GET /v2/ci-workflow-runs`, already filtered. Root-relative, like `jobsUrl`.",
            "example": "/v2/ci-workflow-runs?pullRequestId=0f8fad5b-d9cb-469f-a165-70867728950e&commitSha=a0de7a77e8d758a346f83ed19209a5a25814bb17"
          }
        },
        "required": [
          "headSha",
          "observedAt",
          "pollAfterSeconds",
          "jobs",
          "jobsUrl",
          "workflowRunsUrl"
        ],
        "description": "CI on the pull request's head commit, counted. The lists are one request away through `jobsUrl` and `workflowRunsUrl`."
      },
      "CiJobCounts": {
        "type": "object",
        "properties": {
          "total": {
            "type": "integer",
            "example": 209
          },
          "queued": {
            "type": "integer",
            "example": 0
          },
          "running": {
            "type": "integer",
            "example": 0
          },
          "passed": {
            "type": "integer",
            "example": 110
          },
          "failed": {
            "type": "integer",
            "description": "Conclusion `failure` or `timedOut`.",
            "example": 2
          },
          "cancelled": {
            "type": "integer",
            "example": 0
          },
          "skipped": {
            "type": "integer",
            "example": 97
          },
          "abandoned": {
            "type": "integer",
            "example": 0
          }
        },
        "required": [
          "total",
          "queued",
          "running",
          "passed",
          "failed",
          "cancelled",
          "skipped",
          "abandoned"
        ],
        "description": "The latest attempt of every job, counted. The fields other than `total` sum to `total`."
      },
      "SubmitPullRequestRequest": {
        "type": "object",
        "properties": {
          "number": {
            "type": "integer",
            "exclusiveMinimum": 0,
            "maximum": 10000000
          },
          "allowBatching": {
            "type": "boolean"
          },
          "priorityValue": {
            "type": "integer",
            "minimum": 0,
            "maximum": 32767
          },
          "priorityName": {
            "type": "string",
            "minLength": 1
          },
          "direct": {
            "type": "boolean"
          }
        },
        "required": ["number"],
        "additionalProperties": false,
        "description": "Omitting `allowBatching` allows batching. `priorityValue` and `priorityName` are mutually exclusive; `priorityValue: 0` skips the line. `direct` sends the pull request directly to the queue past unmet branch protection / failing required checks, merging via Trunk's bypass app (it does not skip the queue's own tests); it needs the **Merge PRs with direct to queue** permission, and a signed-in user also needs repository-admin permission.",
        "not": {
          "required": ["priorityValue", "priorityName"]
        }
      },
      "PullRequestList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PullRequest"
            },
            "maxItems": 100
          },
          "nextCursor": {
            "type": ["string", "null"],
            "description": "Opaque cursor for the next page, or null on the last page. Pass it back verbatim as `cursor`; do not construct or inspect one.",
            "example": "AQEKZm9vYmFy"
          },
          "hasMore": {
            "type": "boolean",
            "description": "True when another page is available.",
            "example": true
          },
          "total": {
            "type": "integer",
            "description": "Total rows matching the filter. Present only when the request set `includeTotal=true`.",
            "example": 1247
          }
        },
        "required": ["data", "nextCursor", "hasMore"]
      },
      "MergeQueueStateChange": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "xK9mP2nQ"
          },
          "state": {
            "$ref": "#/components/schemas/MergeQueueState"
          },
          "mode": {
            "$ref": "#/components/schemas/MergeQueueMode"
          },
          "pullRequestsUrl": {
            "type": "string",
            "description": "Path — not an absolute URL — of this queue's pull-request collection on the Trunk API.",
            "example": "/v2/merge-queues/xK9mP2nQ/pull-requests"
          }
        },
        "required": ["id", "state", "mode", "pullRequestsUrl"],
        "description": "The queue's state after the write, as the merge engine reported it — never an echo of the requested action, so a queue mid-conversion reports `switchingModes`."
      },
      "SwitchModesRequest": {
        "type": "object",
        "properties": {
          "mode": {
            "type": "string",
            "enum": ["queue", "graph"]
          }
        },
        "required": ["mode"],
        "additionalProperties": false
      },
      "UpdateMergeQueueConfigRequest": {
        "type": "object",
        "properties": {
          "concurrency": {
            "type": "integer",
            "minimum": 1,
            "maximum": 1000
          },
          "bisectionConcurrency": {
            "type": "integer",
            "minimum": 0,
            "maximum": 1000
          },
          "pendingFailureDepth": {
            "type": "integer",
            "minimum": 0,
            "maximum": 1000
          },
          "canOptimisticallyMerge": {
            "type": "boolean"
          },
          "allowBatching": {
            "type": "boolean"
          },
          "batchingMaxWaitTimeMinutes": {
            "type": "integer",
            "minimum": 0,
            "maximum": 10080
          },
          "batchingMinSize": {
            "type": "integer",
            "minimum": 1,
            "maximum": 1000
          },
          "testingTimeoutMinutes": {
            "type": "integer",
            "minimum": 0,
            "maximum": 10080
          },
          "notReadyTimeoutMinutes": {
            "type": "integer",
            "minimum": 0,
            "maximum": 43200
          },
          "createsPrsForTestingBranches": {
            "type": "boolean"
          },
          "areCommentsEnabled": {
            "type": "boolean"
          },
          "areCommandsEnabled": {
            "type": "boolean"
          },
          "isStatusCheckEnabled": {
            "type": "boolean"
          },
          "isExtensionEnabled": {
            "type": "boolean"
          },
          "areLabelCommandsEnabled": {
            "type": "boolean"
          },
          "areStateLabelsEnabled": {
            "type": "boolean"
          },
          "requiredStatuses": {
            "type": "array",
            "items": {
              "type": "string",
              "minLength": 1
            },
            "maxItems": 100
          },
          "allowedBotSubmitters": {
            "type": "array",
            "items": {
              "type": "string",
              "minLength": 1
            },
            "maxItems": 100
          },
          "batchingRules": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "targetPattern": {
                  "type": "string"
                },
                "policy": {
                  "type": "string",
                  "enum": ["isolate"]
                }
              },
              "required": ["targetPattern", "policy"]
            },
            "maxItems": 100
          },
          "directMergeMode": {
            "type": "string",
            "enum": ["off", "always"]
          },
          "optimizationMode": {
            "type": "string",
            "enum": ["off", "bisectionSkipRedundantTests"]
          },
          "mergeMethod": {
            "type": "string",
            "enum": ["mergeCommit", "squash", "rebase"]
          },
          "testBranchConstructionMode": {
            "type": "string",
            "enum": ["renameTempBranch", "pushNewBranchFromTemp"]
          },
          "enqueueingLabel": {
            "type": "string",
            "minLength": 1
          }
        },
        "additionalProperties": false,
        "description": "A JSON Merge Patch: an absent key leaves that setting unchanged, and an unknown key is rejected rather than dropped. `requiredStatuses: []`, `allowedBotSubmitters: []` and `batchingRules: []` clear those lists. A `batchingRules` write replaces the whole set. `notReadyTimeoutMinutes` must be a whole number of hours."
      },
      "UploadImpactedTargetsRequest": {
        "type": "object",
        "properties": {
          "repositoryId": {
            "type": "string",
            "format": "uuid"
          },
          "targetBranch": {
            "type": "string",
            "minLength": 1
          },
          "sha": {
            "type": "string",
            "pattern": "^[A-Za-z0-9]+$",
            "example": "3f2c9a1b7e4d"
          },
          "number": {
            "type": "integer",
            "exclusiveMinimum": 0,
            "maximum": 10000000
          },
          "branch": {
            "type": "string",
            "minLength": 1
          },
          "impactedTargets": {
            "type": "array",
            "items": {
              "type": "string",
              "minLength": 1
            },
            "maxItems": 100000
          },
          "impactsAllTargets": {
            "type": "boolean",
            "enum": [true]
          }
        },
        "required": ["repositoryId", "targetBranch", "sha"],
        "additionalProperties": false,
        "description": "Address the pull request by exactly one of `number` or `branch`, and declare impact with exactly one of `impactedTargets` or `impactsAllTargets: true`. An empty `impactedTargets` array is valid and means the sha impacts nothing.",
        "allOf": [
          {
            "oneOf": [
              {
                "required": ["number"]
              },
              {
                "required": ["branch"]
              }
            ]
          },
          {
            "oneOf": [
              {
                "required": ["impactedTargets"]
              },
              {
                "required": ["impactsAllTargets"]
              }
            ]
          }
        ]
      },
      "VerificationRun": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "a1b2c3d4-e5f6-4718-9a0b-1c2d3e4f5061"
          },
          "isBisection": {
            "type": "boolean",
            "description": "True when this run exists to attribute a failed batch to a specific entry, rather than to verify new work.",
            "example": false
          },
          "testBranch": {
            "type": "string",
            "description": "The ephemeral branch the queue built to run this verification on.",
            "example": "trunk-merge/01HX3K"
          },
          "testBranchSha": {
            "type": "string",
            "example": "1f0a9b8c7d6e5f40312233445566778899aabbcc"
          },
          "testBranchCommitUrl": {
            "type": "string",
            "description": "The tested commit on the provider, for a human to open — v1 publishes this same link as `testBranchUrl`, which addresses the commit rather than the branch. Absent for a non-GitHub repository, and for a run that never got a tested commit (one cancelled before it started).",
            "example": "https://github.com/acme/widgets/commit/1f0a9b8c7d6e5f40312233445566778899aabbcc"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "When the run was created.",
            "example": "2026-07-28T11:05:00.000Z"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "When the run last changed. For a finished run this approximates when it concluded; there is no separate `finishedAt` yet.",
            "example": "2026-07-28T11:35:00.000Z"
          },
          "status": {
            "$ref": "#/components/schemas/VerificationRunStatus"
          },
          "requiredStatusesSource": {
            "$ref": "#/components/schemas/RequiredStatusesSource"
          },
          "requiredStatuses": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "maxItems": 10000,
            "description": "Names of the checks that were required for this run, snapshotted when it started (resolved from the queue's configured statuses, then `.trunk/trunk.yaml`, then the branch's GitHub protection contexts). A check in `checks` is required iff its `name` is in this list; the checks themselves carry no required flag. Empty means nothing was required.",
            "example": ["Lint (typescript)", "Test (rust)"]
          },
          "checks": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Check"
            },
            "maxItems": 10000,
            "description": "Every check the run observed, provider check runs and commit statuses normalized to one shape. A failure here is the usual reason an entry left `testing` for `failed`."
          },
          "testedPullRequests": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TestedPullRequest"
            },
            "maxItems": 10000,
            "description": "The pull requests included in this run. More than one means the entries were batched, so a failure is attributable to any of them until bisection narrows it."
          },
          "dependentPullRequests": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DependentPullRequest"
            },
            "maxItems": 10000,
            "description": "Pull requests whose commits were merged into the test branch to build the predicted base, but which this run is not testing. A merged-in commit is absent here when it belongs to no pull request (a plain base-branch commit) or when that pull request's branch has moved since the run, so this list is usually shorter than what the run carried. It can also be longer: a commit is matched by (repository, sha), which is indexed but not unique, so one merged-in commit resolves to every pull request in the repository whose head is that sha."
          },
          "testBranchPullRequest": {
            "$ref": "#/components/schemas/TestBranchPullRequest"
          },
          "impactedTargets": {
            "$ref": "#/components/schemas/VerificationRunImpactedTargets"
          }
        },
        "required": [
          "id",
          "isBisection",
          "testBranch",
          "testBranchSha",
          "createdAt",
          "updatedAt",
          "status",
          "requiredStatuses",
          "checks",
          "testedPullRequests",
          "dependentPullRequests"
        ]
      },
      "VerificationRunStatus": {
        "type": "string",
        "enum": ["inProgress", "failed", "cancelled", "succeeded"],
        "description": "`inProgress` — checks are still running. `succeeded` — every required check passed. `failed` — a required check failed, or the run exceeded the queue's `testingTimeoutMinutes` (the two are not distinguished today). `cancelled` — the engine abandoned the run, typically because the entry left the queue or an entry ahead of it failed.",
        "example": "succeeded"
      },
      "RequiredStatusesSource": {
        "type": "string",
        "enum": [
          "trunkConfig",
          "repoProviderBranchProtection",
          "mergeInstance"
        ],
        "description": "Where the queue resolved a run's required checks from, in the order it tries them: `mergeInstance` — the queue's own configured list; `trunkConfig` — `merge.required_statuses` in the repository's `.trunk/trunk.yaml`, read off the test branch; `repoProviderBranchProtection` — the target branch's protection rules at the provider. Absent in two cases: a run recorded before Trunk stored the source (before 2024-01-24), and a run cancelled before it started, which resolved no statuses at all and carries an empty `requiredStatuses` with it. v1 reports both as `trunk_config`, which is its merge service's default rather than an observation.",
        "example": "trunkConfig"
      },
      "Check": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "31245987"
          },
          "name": {
            "type": "string",
            "example": "build"
          },
          "kind": {
            "$ref": "#/components/schemas/CheckKind"
          },
          "status": {
            "$ref": "#/components/schemas/CheckStatus"
          },
          "conclusion": {
            "$ref": "#/components/schemas/CheckConclusion"
          },
          "providerStatus": {
            "$ref": "#/components/schemas/ProviderCheckStatus"
          },
          "providerConclusion": {
            "$ref": "#/components/schemas/ProviderCheckConclusion"
          },
          "url": {
            "type": ["string", "null"],
            "description": "Link to the check at its provider, for a human to open. Null when the provider did not supply one.",
            "example": "https://github.com/acme/widgets/runs/31245987"
          },
          "provider": {
            "type": "string",
            "enum": ["github"],
            "example": "github"
          }
        },
        "required": [
          "id",
          "name",
          "kind",
          "status",
          "conclusion",
          "url",
          "provider"
        ],
        "description": "A normalized CI check. Both provider check runs and commit statuses map onto this one shape; `kind` says which one this is, and the `provider*` fields carry the unfolded values."
      },
      "CheckKind": {
        "type": "string",
        "enum": ["checkRun", "statusCheck"],
        "description": "Which provider entity a check is. `checkRun` is a GitHub check run, with its own lifecycle; `statusCheck` is a commit status, which carries a state and nothing else. It decides how to read `providerConclusion`.",
        "example": "checkRun"
      },
      "CheckStatus": {
        "type": "string",
        "enum": ["queued", "inProgress", "completed"],
        "description": "A check's lifecycle. Only `completed` means `conclusion` is final; for `queued` and `inProgress` the conclusion is a placeholder (`neutral`).",
        "example": "completed"
      },
      "CheckConclusion": {
        "type": "string",
        "enum": [
          "success",
          "failure",
          "neutral",
          "cancelled",
          "skipped",
          "timeout"
        ],
        "description": "A check's outcome. `neutral` is also the placeholder for a check that has not concluded yet.",
        "example": "success"
      },
      "ProviderCheckStatus": {
        "type": "string",
        "enum": [
          "QUEUED",
          "IN_PROGRESS",
          "COMPLETED",
          "PENDING",
          "WAITING",
          "REQUESTED"
        ],
        "description": "A check's status as the provider reported it, before normalization, uppercased as Trunk stores it — the vocabulary v1 publishes. `WAITING` and `PENDING` are the deployment-gate states: a check run in one of them is waiting on a manual approval, not running, and the normalized `status` reports `QUEUED`, `REQUESTED`, `WAITING` and `PENDING` alike as `queued`. Absent on a `statusCheck`, which has no lifecycle of its own, and on a check run whose provider set none.",
        "example": "COMPLETED"
      },
      "ProviderCheckConclusion": {
        "type": "string",
        "enum": [
          "ACTION_REQUIRED",
          "CANCELLED",
          "ERROR",
          "FAILURE",
          "NEUTRAL",
          "PENDING",
          "SKIPPED",
          "STALE",
          "SUCCESS",
          "TIMED_OUT"
        ],
        "description": "The provider's own verdict, before normalization, uppercased as Trunk stores it. Read it with `kind`: a `checkRun` uses GitHub's check-run conclusions (everything here but `ERROR`), a `statusCheck` its commit-status states (`SUCCESS`, `FAILURE`, `ERROR`, `PENDING`). This is where the values the normalized `conclusion` cannot express survive — it folds `ACTION_REQUIRED` and `STALE` to `neutral`, and `ERROR` to `failure` beside a genuine `FAILURE`. Absent when the provider set none.",
        "example": "SUCCESS"
      },
      "TestedPullRequest": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The pull request's id in this API — pass it to `GET /v2/pull-requests/{id}`.",
            "example": "6f1d2c3b-4a59-4e6f-8a7b-9c0d1e2f3a4b"
          },
          "number": {
            "type": "integer",
            "example": 4901
          },
          "sha": {
            "type": "string",
            "description": "The head commit that was included in this run. Compare with the pull request's current `sha` to detect that its branch moved since.",
            "example": "9c58bf40e5c1a2b3d4e5f60718293a4b5c6d7e8f"
          },
          "title": {
            "type": "string",
            "example": "Add the widget endpoint"
          },
          "url": {
            "type": "string",
            "description": "The pull request on its provider. Absent until Trunk's sync has populated it.",
            "example": "https://github.com/acme/widgets/pull/4901"
          }
        },
        "required": ["id", "number", "sha", "title"],
        "description": "A pull request included in a verification run. When a run covers several, a failure is attributable to any of them — that is what bisection resolves."
      },
      "DependentPullRequest": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The pull request's id in this API — pass it to `GET /v2/pull-requests/{id}`.",
            "example": "6f1d2c3b-4a59-4e6f-8a7b-9c0d1e2f3a4b"
          },
          "number": {
            "type": "integer",
            "example": 4901
          },
          "sha": {
            "type": "string",
            "description": "The commit of this pull request that was merged into the test branch. It equals the pull request's stored head by construction — the lookup matches on it — so a pull request whose branch moved after the run is absent from this list rather than listed with an old sha.",
            "example": "0a1b2c3d4e5f60718293a4b5c6d7e8f90a1b2c3d"
          },
          "title": {
            "type": "string",
            "example": "Add the widget endpoint"
          },
          "url": {
            "type": "string",
            "description": "The pull request on its provider. Absent until Trunk's sync has populated it.",
            "example": "https://github.com/acme/widgets/pull/4901"
          }
        },
        "required": ["id", "number", "sha", "title"],
        "description": "A pull request whose commit was merged into the test branch to form the predicted base, but which this run is not testing. Same shape as `TestedPullRequest`; the distinction is whether a failure is attributable to it."
      },
      "TestBranchPullRequest": {
        "type": "object",
        "properties": {
          "number": {
            "type": "integer",
            "example": 5002
          },
          "url": {
            "type": "string",
            "example": "https://github.com/acme/widgets/pull/5002"
          }
        },
        "required": ["number", "url"],
        "description": "The draft pull request the queue opened for the test branch, where its checks and logs are. Absent unless the queue is configured to create one."
      },
      "VerificationRunImpactedTargets": {
        "type": "object",
        "properties": {
          "all": {
            "$ref": "#/components/schemas/ImpactedTargetSet"
          },
          "testedPullRequestsOnly": {
            "$ref": "#/components/schemas/ImpactedTargetSet"
          }
        },
        "required": ["all"],
        "description": "The impacted targets uploaded for the run's commits (`PUT /impacted-targets`). Returned only when a single run is fetched by ID, never in a list, and absent when no commit on the run has an upload. `all` spans every commit the run carried: the pull requests under test and the commits merged in beneath them to build the predicted base. `testedPullRequestsOnly` spans the tested pull requests' commits alone, and is absent when none of them uploaded. A commit with no upload contributes nothing to either set."
      },
      "ImpactedTargetSet": {
        "type": "object",
        "properties": {
          "impactsAllTargets": {
            "type": "boolean",
            "description": "True when any commit in this set uploaded `impactsAllTargets: true`, which makes the explicit lists of the others moot.",
            "example": false
          },
          "impactedTargets": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "maxItems": 100000,
            "description": "The union of the commits' uploaded targets, sorted and deduplicated. Empty when `impactsAllTargets` is true, and also when every upload was an explicit empty list — the commits impact nothing. Truncated to the first 100,000 targets; `totalImpactedTargets` says whether it was.",
            "example": ["//lib/db", "//svc/api"]
          },
          "totalImpactedTargets": {
            "type": "integer",
            "description": "The size of the union before truncation. 0 when `impactsAllTargets` is true.",
            "example": 2
          }
        },
        "required": [
          "impactsAllTargets",
          "impactedTargets",
          "totalImpactedTargets"
        ],
        "description": "The impacted targets of a set of commits on a verification run."
      },
      "VerificationRunList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/VerificationRun"
            },
            "maxItems": 100
          },
          "nextCursor": {
            "type": ["string", "null"],
            "description": "Opaque cursor for the next page, or null on the last page. Pass it back verbatim as `cursor`; do not construct or inspect one.",
            "example": "AQEKZm9vYmFy"
          },
          "hasMore": {
            "type": "boolean",
            "description": "True when another page is available.",
            "example": true
          },
          "total": {
            "type": "integer",
            "description": "Total rows matching the filter. Present only when the request set `includeTotal=true`.",
            "example": 1247
          }
        },
        "required": ["data", "nextCursor", "hasMore"]
      },
      "QueueEntryHistoryList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/QueueEntryStateTransition"
            },
            "maxItems": 100
          },
          "nextCursor": {
            "type": ["string", "null"],
            "description": "Opaque cursor for the next page, or null on the last page. Pass it back verbatim as `cursor`; do not construct or inspect one.",
            "example": "AQEKZm9vYmFy"
          },
          "hasMore": {
            "type": "boolean",
            "description": "True when another page is available.",
            "example": true
          },
          "total": {
            "type": "integer",
            "description": "Total rows matching the filter. Present only when the request set `includeTotal=true`.",
            "example": 1247
          }
        },
        "required": ["data", "nextCursor", "hasMore"]
      },
      "QueueEntryStateTransition": {
        "type": "object",
        "properties": {
          "pullRequestId": {
            "type": "string",
            "description": "Whose queue entry this transition belongs to. Constant on a single pull request's history; on the batch read (`GET /v2/queue-entry-history`) one page spans several, and this is what you group by.",
            "example": "6f1d2c3b-4a59-4e6f-8a7b-9c0d1e2f3a4b"
          },
          "state": {
            "$ref": "#/components/schemas/QueueEntryState"
          },
          "changedAt": {
            "type": "string",
            "format": "date-time",
            "description": "When the entry entered this state.",
            "example": "2026-07-28T11:10:00.000Z"
          },
          "reason": {
            "type": ["string", "null"],
            "description": "Why the entry entered this state. `null` for `testing` and `pendingFailure`, which carry no reason.\n\nThe values below are the vocabulary in use today, grouped by the state they accompany. **This is an open set** — it is the engine's own vocabulary and new values may appear within v2, so match on the values you care about and treat anything else as unclassified rather than failing closed.\n\n**Why an entry is waiting (`notReady`)** — `USER_REQUESTED`, `TRUNK_ADMIN_REQUESTED`, `API_REQUESTED`.\n\n**Why an entry (re)entered the line (`pending`)** — these are what distinguish a restart's cause:\n\n| Value | Meaning |\n| --- | --- |\n| `TESTS_RESTARTED_BY_USER` | A person restarted the tests. |\n| `TESTS_RESTARTED_BY_API_REQUEST` | Restarted through the API — e.g. `pullRequests.restartTests`. |\n| `MERGE_ITEM_NOW_READY` | A readiness condition became satisfied. |\n| `MANUAL_PUSH_TO_TARGET_BRANCH` | Someone pushed to the target branch, invalidating the tested state. |\n| `PREREQUISITE_MERGE_ITEM_FAILED` | An entry ahead of this one failed, so this one must re-test. |\n| `PREREQUISITE_MERGE_ITEM_CANCELLED` | An entry ahead was removed. |\n| `PREREQUISITE_MERGE_ITEM_MANUALLY_MERGED` | An entry ahead was merged outside the queue. |\n| `SKIP_THE_LINE_INTERRUPTED` | A higher-priority entry preempted this one. |\n| `BISECTION_REQUIRED` | A batch failed and the engine is bisecting to find the culprit. |\n| `BISECTION_TEST_RUN_PASSED` | A bisection run cleared this entry. |\n\n**Why verification passed (`testsPassed`)** — `TEST_RUN_PASSED`, `SUCCESSOR_TEST_RUN_PASSED`, `PASSED_BY_OPTIMIZATION`.\n\n**Why an entry failed (`failed`)** — `TEST_RUN_REQUIRED_STATUS_FAILED`, `TEST_RUN_TIMEOUT`, `TEST_RUN_FAILED_BY_OPTIMIZATION`, `START_TEST_RUN_MERGE_CONFLICT`, `START_TEST_RUN_RETRY_EXHAUSTED`, `START_TEST_RUN_DRAFT_PRS_NOT_ALLOWED`, `START_TEST_RUN_PERMISSIONS_BLOCK_TEST_BRANCH`, `START_TEST_RUN_NO_REQUIRED_STATUSES`, `START_TEST_RUN_CONFIG_NOT_FOUND`, `START_TEST_RUN_CONFIG_PARSING_FAILURE`, `START_TEST_RUN_CONFIG_BAD_VERSION`, `START_TEST_RUN_CONFIG_BAD_REQUIRED_STATUSES`, `START_TEST_RUN_CONFIG_MISSING_REQUIRED_STATUSES`, `START_TEST_RUN_INVALID_EVENT`, `PR_UPDATED_AT_MERGE_TIME`, `GITHUB_API_MERGE_PR_FAILED`, `GITHUB_API_DIRECT_MERGE_PR_FAILED`, `GITHUB_API_BRANCH_PROTECTION_UNMET`, `GITHUB_API_MERGE_ALREADY_IN_PROGRESS`, `GITHUB_API_RATE_LIMIT_EXCEEDED`, `GITHUB_API_REPEATED_SERVER_ERRORS`.\n\n**Why an entry was removed (`cancelled`)** — `USER_REQUESTED`, `TRUNK_ADMIN_REQUESTED`, `PR_CLOSED`, `PR_MERGED_INTO_OTHER_BRANCH`, `PR_PUSHED_TO`, `PR_BASE_BRANCH_CHANGED`, `PR_CONVERTED_TO_DRAFT`, `NOT_READY_TIMEOUT_EXPIRED`, `STACKED_PR_MEMBER_PUSHED_TO`, `STACKED_PR_MEMBER_CLOSED`, `STACKED_PR_MEMBER_MERGED`, `STACKED_PR_MEMBER_BASE_BRANCH_CHANGED`, `STACKED_PR_STACK_CHANGED`, `STACKED_PR_GROUP_CANCELLED_AT_MERGE_TIME`.\n\n**Why an entry merged (`merged`)** — `MERGE_GRAPH_MERGE`, `MERGE_GRAPH_DIRECT_MERGE`, `MANUAL_MERGE`.",
            "example": "TEST_RUN_REQUIRED_STATUS_FAILED"
          },
          "verificationRunId": {
            "type": "string",
            "description": "The verification run this transition concerns — present for `testing`, for `testsPassed`, and for `failed`/`pendingFailure` when the cause was a test. Read it with `GET /v2/merge-queue-verification-runs/{id}` for its checks and tested pull requests. For `reason: SUCCESSOR_TEST_RUN_PASSED` it is the successor's run rather than this entry's own. Omitted when the transition concerns no run.",
            "example": "a1b2c3d4-e5f6-4718-9a0b-1c2d3e4f5061"
          },
          "actor": {
            "$ref": "#/components/schemas/TransitionActor"
          },
          "prerequisitePullRequestId": {
            "type": "string",
            "description": "For a `PREREQUISITE_*` reason, the pull request ahead of this one whose outcome forced this transition — always one of `pending.prerequisitePullRequests`, which lists every entry it was queued behind. Read it with `GET /v2/pull-requests/{id}`. Omitted otherwise.",
            "example": "0f8fad5b-d9cb-469f-a165-70867728950e"
          },
          "notReady": {
            "$ref": "#/components/schemas/NotReadyTransitionDetails"
          },
          "pending": {
            "$ref": "#/components/schemas/PendingTransitionDetails"
          },
          "testsPassed": {
            "$ref": "#/components/schemas/TestsPassedTransitionDetails"
          },
          "pendingFailure": {
            "$ref": "#/components/schemas/PendingFailureTransitionDetails"
          },
          "failed": {
            "$ref": "#/components/schemas/FailedTransitionDetails"
          }
        },
        "required": ["pullRequestId", "state", "changedAt", "reason"],
        "description": "One state change of a pull request's queue entry, and the evidence for it.\n\nTogether these answer why an entry keeps being re-tested: `reason` gives the cause (a person, an API call, an upstream push, a failing entry ahead), `actor` names the person when one is recorded, `verificationRunId` links to the run that failed, and `prerequisitePullRequestId` names the pull request that blocked this one. `actor` is **absent** for engine- and machine-initiated transitions — that is a real answer, not a gap, and `reason` distinguishes them (`TESTS_RESTARTED_BY_USER` vs `TESTS_RESTARTED_BY_API_REQUEST` vs `BISECTION_REQUIRED`).\n\nAt most one of `notReady`, `pending`, `testsPassed`, `pendingFailure` and `failed` is present, matching `state`, carrying that state's particulars: the priority an entry was submitted with, the entries it was queued behind, the batch that vouched for it, the checks that failed it, the branch-protection rules it did not meet, or the commit its merge conflict was traced to. `cancelled` and `merged` transitions carry nothing beyond `reason` and `actor`, and `testing` nothing beyond `verificationRunId`."
      },
      "TransitionActor": {
        "type": "object",
        "properties": {
          "gitHubLogin": {
            "type": "string",
            "description": "The actor's GitHub login.",
            "example": "octocat"
          },
          "trunkUserId": {
            "type": "string",
            "description": "The actor's Trunk user id. Carried alongside the login because a GitHub login is renameable and so cannot be correlated against.",
            "example": "0f8fad5b-d9cb-469f-a165-70867728950e"
          }
        },
        "minProperties": 1,
        "description": "A recorded human cause of a state transition. At least one identifier is present."
      },
      "NotReadyTransitionDetails": {
        "type": "object",
        "properties": {
          "priorityValue": {
            "type": "integer",
            "description": "Omitted when a named priority was used instead.",
            "example": 100
          },
          "priorityName": {
            "type": "string",
            "description": "Omitted when a numeric priority was used instead.",
            "example": "high"
          },
          "allowBatching": {
            "type": "boolean",
            "description": "Whether the submission allowed the entry to be batched.",
            "example": true
          }
        },
        "required": ["allowBatching"],
        "description": "How the pull request was submitted: the priority and batching it was submitted with. Present on `notReady` transitions."
      },
      "PendingTransitionDetails": {
        "type": "object",
        "properties": {
          "priorityValue": {
            "type": "integer",
            "description": "Omitted when a named priority was used instead.",
            "example": 100
          },
          "priorityName": {
            "type": "string",
            "description": "Omitted when a numeric priority was used instead.",
            "example": "high"
          },
          "usedDefaultPriorityName": {
            "type": "string",
            "description": "The queue's default priority name, when no priority was supplied and the default applied.",
            "example": "medium"
          },
          "prerequisitePullRequests": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TransitionPullRequestRef"
            },
            "maxItems": 10000,
            "description": "The entries ahead of this one that it was queued behind, oldest-enqueued first. Empty when nothing was ahead."
          }
        },
        "required": ["prerequisitePullRequests"],
        "description": "Where the pull request stood when it (re)entered the line. Present on `pending` transitions."
      },
      "TransitionPullRequestRef": {
        "type": "object",
        "properties": {
          "pullRequestId": {
            "type": "string",
            "description": "Read it with `GET /v2/pull-requests/{id}`.",
            "example": "0f8fad5b-d9cb-469f-a165-70867728950e"
          },
          "number": {
            "type": "integer",
            "example": 4900
          },
          "title": {
            "type": "string",
            "example": "Bump the widget limit"
          },
          "url": {
            "type": "string",
[...]
