{
  "openapi": "3.1.0",
  "info": {
    "title": "Trunk API",
    "version": "2.0.0",
    "description": "The Trunk public API. Every endpoint is scoped to a single organization and requires a credential.\n\n## Authentication\n\nSend **either** an org API key as `Authorization: Bearer <key>`, **or** a short-lived first-party token in the `x-trunk-token` header. Existing v1 API tokens work unchanged as org API keys.\n\nThe two are not interchangeable for writes. A first-party token obtained by **exchanging an org API key** reads merge queues but cannot mutate them — a merge-queue mutation forwards the key itself to the merge service, and an exchanged token carries no copy of it, so those requests answer `403 INSUFFICIENT_PERMISSIONS`. A machine caller that mutates merge queues should send its org API key directly on `Authorization` for every request. Tokens obtained through the CLI device flow are unaffected.\n\n**Merge-queue authorization is broad today.** The API does not offer an enqueue-only capability: organization members and org API keys authorized for merge-queue writes can also change configuration (including `requiredStatuses`), pause, drain and delete queues. Use such credentials as privileged operators, not narrowly scoped CI submission tokens.\n\n## Errors\n\nEvery 4xx and 5xx response is a `ErrorResponse`: `{ \"error\": { \"code\", \"message\" } }`. Switch on `code`, which is stable; `message` is prose and may change at any time.\n\n**An authorization denial on a read is reported as `404`, not `403`** — whether a resource exists must not leak across organizations, so a resource in another organization is indistinguishable from one that does not exist. `403 INSUFFICIENT_PERMISSIONS` means the credential is valid but is not permitted the action (or carries no organization).\n\nEvery response carries an `X-Request-Id` header. Quote it in support requests.\n\n## Rate limiting\n\nRequests are limited per organization (currently 100 requests/second). Exceeding it returns `429` with `RATE_LIMIT_EXCEEDED`; retry with backoff. Note that the limit is enforced at the edge, which does not yet wrap its `429` in the `ErrorResponse` envelope described above — treat any `429` as rate limiting regardless of body.\n\n## Compatibility\n\nWithin v2, Trunk may add: new endpoints, new **optional** response fields, new members to any enum (including new `code` values, new queue-entry states, and new providers), and new optional request parameters. **Clients must tolerate values and fields they do not recognize** rather than failing closed — a client that switches exhaustively over an enum will break when a member is added. Removals and semantic changes require a new major version.\n\n## Provider support\n\nMerge queues, verification runs and checks are **GitHub-only** today; `Check.provider` has a single member for that reason. Impacted-target uploads additionally require a `github.com` repository named `owner/repo`. The `Provider` enum lists values the repository index can store, not surfaces that are fully supported.\n\n## Not yet available\n\nA pull request's **position** in its queue is not exposed, and list responses are not ordered by queue position. There are no webhooks — monitoring is by polling. `Idempotency-Key` is not yet honored, so a mutation that times out must be reconciled by reading the resource back rather than blindly retried.",
    "contact": {
      "name": "Trunk Support",
      "url": "https://docs.trunk.io"
    }
  },
  "servers": [
    {
      "url": "https://api.trunk.io",
      "description": "Production"
    }
  ],
  "security": [
    {
      "orgKey": []
    },
    {
      "trunkToken": []
    }
  ],
  "tags": [
    {
      "name": "mergeQueues",
      "x-group": "Merge Queues"
    },
    {
      "name": "pullRequests",
      "x-group": "Pull Requests"
    },
    {
      "name": "mergeQueueVerificationRuns",
      "x-group": "Verification Runs"
    },
    {
      "name": "impactedTargets",
      "x-group": "Impacted Targets"
    },
    {
      "name": "repositories",
      "x-group": "Repositories"
    },
    {
      "name": "dynamicCi",
      "x-group": "Dynamic CI"
    },
    {
      "name": "testCollections",
      "x-group": "Test Collections"
    },
    {
      "name": "testCases",
      "x-group": "Test Cases"
    }
  ],
  "components": {
    "securitySchemes": {
      "orgKey": {
        "type": "http",
        "scheme": "bearer",
        "description": "An org-scoped API key, sent as `Authorization: Bearer <key>`. Existing v1 tokens work here unchanged. There is no enqueue-only or read/write scope: an org key authorized for merge-queue writes can invoke every merge-queue mutation, including changing merge-protection configuration and pausing, draining or deleting a queue."
      },
      "trunkToken": {
        "type": "apiKey",
        "in": "header",
        "name": "x-trunk-token",
        "description": "A short-lived first-party token, sent in the `x-trunk-token` header. Obtain one through the CLI device-authentication flow, or by exchanging an org API key (`POST /v2/auth/api-key/login`).\n\n**A token exchanged from an org API key reads merge queues but cannot mutate them.** A merge-queue mutation forwards the org API key itself to the merge service, and an exchanged token carries no copy of it, so those requests answer `403 INSUFFICIENT_PERMISSIONS`. A machine caller that mutates merge queues should send the org API key directly as `Authorization: Bearer <key>` rather than exchanging it. Tokens from the device flow are unaffected."
      }
    },
    "schemas": {
      "PaginatedListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {},
            "maxItems": 100
          },
          "nextCursor": {
            "type": ["string", "null"],
            "description": "Opaque cursor for the next page, or null on the last page. Pass it back verbatim as `cursor`; do not construct or inspect one.",
            "example": "AQEKZm9vYmFy"
          },
          "hasMore": {
            "type": "boolean",
            "description": "True when another page is available.",
            "example": true
          },
          "total": {
            "type": "integer",
            "description": "Total rows matching the filter. Present only when the request set `includeTotal=true`.",
            "example": 1247
          }
        },
        "required": ["data", "nextCursor", "hasMore"],
        "description": "The uniform list envelope shared by every paginated endpoint. Forward-only: there is no previous-page cursor."
      },
      "MergeQueueList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MergeQueue"
            },
            "maxItems": 100
          },
          "nextCursor": {
            "type": ["string", "null"],
            "description": "Opaque cursor for the next page, or null on the last page. Pass it back verbatim as `cursor`; do not construct or inspect one.",
            "example": "AQEKZm9vYmFy"
          },
          "hasMore": {
            "type": "boolean",
            "description": "True when another page is available.",
            "example": true
          },
          "total": {
            "type": "integer",
            "description": "Total rows matching the filter. Present only when the request set `includeTotal=true`.",
            "example": 1247
          }
        },
        "required": ["data", "nextCursor", "hasMore"]
      },
      "MergeQueue": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "xK9mP2nQ"
          },
          "repositoryId": {
            "type": "string",
            "description": "Resolve with `GET /v2/repositories/{id}`.",
            "example": "7c9e6679-7425-40de-944b-e07fc1f90ae7"
          },
          "targetBranch": {
            "type": "string",
            "example": "main"
          },
          "state": {
            "$ref": "#/components/schemas/MergeQueueState"
          },
          "mode": {
            "$ref": "#/components/schemas/MergeQueueMode"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "When the queue was created.",
            "example": "2026-07-24T20:26:04.000Z"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "When the queue's own record last changed — its state or configuration. Not affected by entries moving through it.",
            "example": "2026-07-28T11:02:31.000Z"
          },
          "repositoryUrl": {
            "type": "string",
            "description": "Absolute browsable URL of the repository at its provider (not a Trunk API URL).",
            "example": "https://github.com/acme/widgets"
          },
          "pullRequestsUrl": {
            "type": "string",
            "description": "Path — **not** an absolute URL — of this queue's pull-request collection on the Trunk API. Resolve it against the server URL; do not fetch it as-is.",
            "example": "/v2/merge-queues/xK9mP2nQ/pull-requests"
          },
          "htmlUrl": {
            "type": "string",
            "description": "The queue's page in the Trunk web app. Absent when the repository has no keyed organization (no slug to address it by).",
            "example": "https://app.trunk.io/acme/merge-queue/xK9mP2nQ"
          },
          "config": {
            "$ref": "#/components/schemas/MergeQueueConfig"
          }
        },
        "required": [
          "id",
          "repositoryId",
          "targetBranch",
          "state",
          "mode",
          "createdAt",
          "updatedAt",
          "repositoryUrl",
          "pullRequestsUrl",
          "config"
        ]
      },
      "MergeQueueState": {
        "type": "string",
        "enum": ["running", "paused", "draining", "switchingModes"],
        "description": "The queue's lifecycle state. `switchingModes` is a transient conversion state during which config and mode writes are refused.",
        "example": "running"
      },
      "MergeQueueMode": {
        "type": "string",
        "enum": ["queue", "graph"],
        "description": "The engine a queue runs. `queue` tests entries in strict arrival order, one line. `graph` builds a dependency graph and may test entries speculatively in parallel, which merges faster but can require bisection to attribute a failure. Changing mode is a real conversion, not a flag flip — see `mergeQueues.switchModes`.",
        "example": "queue"
      },
      "MergeQueueConfig": {
        "type": "object",
        "properties": {
          "concurrency": {
            "type": "integer",
            "description": "How many entries the queue may verify at once. Higher values merge faster and cost more CI.",
            "example": 5
          },
          "bisectionConcurrency": {
            "type": "integer",
            "description": "How many verification runs the engine may use in parallel when bisecting a failed batch. `0` means bisection gets no dedicated capacity and shares `concurrency`.",
            "example": 0
          },
          "pendingFailureDepth": {
            "type": "integer",
            "description": "How many entries behind a failing entry are pre-emptively marked `pendingFailure` rather than continuing to test against a state that is expected to fail. `0` disables this.",
            "example": 3
          },
          "canOptimisticallyMerge": {
            "type": "boolean",
            "description": "Whether an entry whose own verification passed may merge before every entry ahead of it has merged, when the engine can prove the result still holds.",
            "example": true
          },
          "allowBatching": {
            "type": "boolean",
            "description": "Whether the queue may verify several entries together in one run. Batching is cheaper but a failure must then be attributed by bisection. An individual entry can opt out at submit time; the queue setting is the ceiling, so an entry cannot batch when this is `false`.",
            "example": false
          },
          "batchingMaxWaitTimeMinutes": {
            "type": "integer",
            "description": "How long the queue waits for more entries before starting a batch smaller than `batchingMinSize`. `0` means never wait — start as soon as there is anything to test.",
            "example": 10
          },
          "batchingMinSize": {
            "type": "integer",
            "description": "The batch size the queue prefers before starting a run, subject to `batchingMaxWaitTimeMinutes`. At least 1.",
            "example": 2
          },
          "testingTimeoutMinutes": {
            "type": "integer",
            "description": "How long a verification run may take before the queue abandons it and fails the entry. **`0` means no timeout** — a stuck run will hold its slot indefinitely.",
            "example": 60
          },
          "notReadyTimeoutMinutes": {
            "type": "integer",
            "description": "How long an entry may sit `notReady` before the queue cancels it (`NOT_READY_TIMEOUT_EXPIRED`). **`0` means no timeout.** Stored as whole hours, so this must be a multiple of 60.",
            "example": 120,
            "multipleOf": 60
          },
          "createsPrsForTestingBranches": {
            "type": "boolean",
            "description": "Whether the queue opens a provider pull request for each testing branch it creates. Makes runs visible in the provider UI at the cost of extra pull-request noise.",
            "example": false
          },
          "areCommentsEnabled": {
            "type": "boolean",
            "description": "Whether the queue posts status comments on pull requests it processes.",
            "example": true
          },
          "areCommandsEnabled": {
            "type": "boolean",
            "description": "Whether the queue acts on comment commands (e.g. a comment asking to enqueue or dequeue).",
            "example": true
          },
          "isStatusCheckEnabled": {
            "type": "boolean",
            "description": "Whether the queue publishes its own status check onto each pull request, so its state is visible in the provider's merge box.",
            "example": true
          },
          "isExtensionEnabled": {
            "type": "boolean",
            "description": "Whether Trunk's browser extension surfaces queue controls on this repository's pull requests.",
            "example": false
          },
          "areLabelCommandsEnabled": {
            "type": "boolean",
            "description": "Whether applying `enqueueingLabel` to a pull request submits it to this queue.",
            "example": true
          },
          "areStateLabelsEnabled": {
            "type": "boolean",
            "description": "Whether the queue maintains labels reflecting each entry's state. Trunk owns labels prefixed `trunk-`, which is why `enqueueingLabel` may not collide with that prefix.",
            "example": true
          },
          "requiredStatuses": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "maxItems": 100,
            "description": "The provider check names that must pass for an entry to be considered verified. **Empty means the queue gates on nothing** — an entry passes verification without any check succeeding. Security-relevant: this is the queue's merge gate.",
            "example": ["build", "lint"]
          },
          "allowedBotSubmitters": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "maxItems": 100,
            "description": "Bot accounts permitted to submit to this queue in addition to human users. Empty means no bots may submit. Security-relevant: this is who may enqueue.",
            "example": ["dependabot"]
          },
          "batchingRules": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BatchingRule"
            },
            "maxItems": 100,
            "description": "Rules changing how pull requests are batched based on the build targets they impact. Empty means every entry batches normally. Applies to queues in `graph` mode that upload impacted targets.",
            "example": [
              {
                "targetPattern": "//db/migrations:*",
                "policy": "isolate"
              }
            ]
          },
          "directMergeMode": {
            "$ref": "#/components/schemas/DirectMergeMode"
          },
          "optimizationMode": {
            "$ref": "#/components/schemas/OptimizationMode"
          },
          "mergeMethod": {
            "$ref": "#/components/schemas/MergeMethod"
          },
          "testBranchConstructionMode": {
            "$ref": "#/components/schemas/TestBranchConstructionMode"
          },
          "enqueueingLabel": {
            "type": "string",
            "description": "The label that submits a pull request to this queue when `areLabelCommandsEnabled` is true. May not collide with a Trunk-reserved `trunk-*` state label.",
            "example": "trunk-merge"
          }
        },
        "required": [
          "concurrency",
          "bisectionConcurrency",
          "pendingFailureDepth",
          "canOptimisticallyMerge",
          "allowBatching",
          "batchingMaxWaitTimeMinutes",
          "batchingMinSize",
          "testingTimeoutMinutes",
          "notReadyTimeoutMinutes",
          "createsPrsForTestingBranches",
          "areCommentsEnabled",
          "areCommandsEnabled",
          "isStatusCheckEnabled",
          "isExtensionEnabled",
          "areLabelCommandsEnabled",
          "areStateLabelsEnabled",
          "requiredStatuses",
          "allowedBotSubmitters",
          "batchingRules",
          "directMergeMode",
          "optimizationMode",
          "mergeMethod",
          "testBranchConstructionMode",
          "enqueueingLabel"
        ],
        "description": "A queue's full configuration. Two fields are merge-protection controls rather than tuning knobs — `requiredStatuses` (what must pass) and `allowedBotSubmitters` (who may enqueue) — so treat write access to this object as security-relevant."
      },
      "BatchingRule": {
        "type": "object",
        "properties": {
          "targetPattern": {
            "type": "string",
            "description": "The impacted-target label this rule applies to. Matched exactly, or as a prefix when it ends in a single `*`. A `*` anywhere other than the last character is rejected, as is `*` alone — a rule matching every target is a queue-wide setting rather than a rule.",
            "example": "//db/migrations:*"
          },
          "policy": {
            "$ref": "#/components/schemas/BatchingRulePolicy"
          }
        },
        "required": ["targetPattern", "policy"],
        "description": "A rule that changes how a pull request is batched based on the build targets it impacts. Evaluated from the impacted targets uploaded for the pull request's head commit each time the queue forms batches, so it follows pushes that add or remove a matching target. A pull request that reports impacting all targets matches no rule."
      },
      "BatchingRulePolicy": {
        "type": "string",
        "enum": ["isolate"],
        "description": "What the queue does with a pull request whose impacted targets match the rule. `isolate` tests it on its own rather than in a batch, exactly as `/trunk merge --no-batch` does.",
        "example": "isolate"
      },
      "DirectMergeMode": {
        "type": "string",
        "enum": ["off", "always"],
        "description": "Whether an entry may bypass queue testing and merge directly when the target branch is already at its tested state. `off` always tests through the queue; `always` merges directly whenever it is safe to do so.",
        "example": "off"
      },
      "OptimizationMode": {
        "type": "string",
        "enum": ["off", "bisectionSkipRedundantTests"],
        "description": "Whether the engine may skip work it can prove is redundant. `off` runs every verification. `bisectionSkipRedundantTests` lets the engine reuse a passing result from a superset run instead of re-testing, which reduces CI spend but means an entry can reach `testsPassed` without a run of its own (`VerificationRunStatus` reports the run that covered it).",
        "example": "off"
      },
      "MergeMethod": {
        "type": "string",
        "enum": ["mergeCommit", "squash", "rebase"],
        "description": "How the queue writes a passing entry onto the target branch: a merge commit, a single squashed commit, or replayed commits. Must be permitted by the repository's own provider settings.",
        "example": "squash"
      },
      "TestBranchConstructionMode": {
        "type": "string",
        "enum": ["renameTempBranch", "pushNewBranchFromTemp"],
        "description": "How the queue turns the temporary branch it builds into the `trunk-merge` branch CI runs on. `renameTempBranch` renames the ref. `pushNewBranchFromTemp` creates the final ref at the temporary branch's head commit and deletes the temporary ref, which needs no rename permission — use it when an organization- or enterprise-level ruleset targets these branches, since GitHub's rename restriction is the one rule an exempt bypass actor cannot lift.",
        "example": "renameTempBranch"
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "$ref": "#/components/schemas/ErrorCode"
              },
              "message": {
                "type": "string",
                "description": "Human-readable description of what went wrong. Not stable — do not parse.",
                "example": "No merge queue found with ID xK9mP2nQ"
              }
            },
            "required": ["code", "message"]
          }
        },
        "required": ["error"],
        "description": "The uniform error envelope. Every 4xx and 5xx response in this API has this shape."
      },
      "ErrorCode": {
        "type": "string",
        "enum": [
          "AUTHENTICATION_REQUIRED",
          "INVALID_TOKEN",
          "INSUFFICIENT_PERMISSIONS",
          "INTERNAL_ERROR",
          "VALIDATION_FAILED",
          "NOT_FOUND",
          "INVALID_CURSOR",
          "MERGE_QUEUE_NOT_FOUND",
          "PR_ALREADY_ENQUEUED",
          "PR_NOT_ENQUEUEABLE",
          "UPSTREAM_ERROR",
          "VERIFICATION_RUN_NOT_FOUND",
          "PR_NOT_FOUND",
          "REPOSITORY_NOT_FOUND",
          "IMPACTED_TARGETS_UNSUPPORTED",
          "QUEUE_ALREADY_EXISTS",
          "QUEUE_HAS_ACTIVE_ENTRIES",
          "MODE_CHANGE_IN_PROGRESS",
          "PR_NOT_IN_ACTIVE_STATE",
          "MERGE_QUEUE_NOT_CREATABLE",
          "PR_TESTS_NOT_RESTARTABLE",
          "PROVIDER_URL_NOT_FOUND",
          "CI_HOST_UNSUPPORTED",
          "CI_SCOPE_NOT_FOUND",
          "TEST_COLLECTION_NOT_FOUND",
          "TEST_CASE_NOT_FOUND",
          "RATE_LIMIT_EXCEEDED"
        ],
        "description": "Stable machine-readable error identifier. Switch on this, never on `message`. A shipped code's meaning never changes, but **new codes may be added within v2** — treat an unrecognized code as a generic failure of its HTTP status rather than failing closed.",
        "example": "MERGE_QUEUE_NOT_FOUND"
      },
      "CreateMergeQueueRequest": {
        "type": "object",
        "properties": {
          "repositoryId": {
            "type": "string",
            "format": "uuid"
          },
          "targetBranch": {
            "type": "string",
            "minLength": 1
          },
          "mode": {
            "type": "string",
            "enum": ["queue", "graph"]
          },
          "concurrency": {
            "type": "integer",
            "minimum": 1,
            "maximum": 1000
          },
          "bisectionConcurrency": {
            "type": "integer",
            "minimum": 0,
            "maximum": 1000
          },
          "enqueueingLabel": {
            "type": "string",
            "minLength": 1
          }
        },
        "required": ["repositoryId", "targetBranch"],
        "additionalProperties": false,
        "description": "Omitting `mode` or `concurrency` applies the merge service's own defaults rather than a schema default, because what an omission means belongs to that service."
      },
      "PullRequest": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "0f8fad5b-d9cb-469f-a165-70867728950e"
          },
          "repositoryId": {
            "type": "string",
            "example": "7c9e6679-7425-40de-944b-e07fc1f90ae7"
          },
          "number": {
            "type": "integer",
            "example": 4901
          },
          "title": {
            "type": "string",
            "example": "feat: terminate /v2 at the gateway"
          },
          "branch": {
            "type": "string",
            "example": "phil/implement-remaining-apis"
          },
          "sha": {
            "type": "string",
            "description": "The head commit of the pull request as Trunk last indexed it. Compare against a verification run's `testedPullRequests[].sha` to tell whether a run tested the current head or a superseded one — a mismatch means the branch moved after that run started.",
            "example": "9c58bf40e5c1a2b3d4e5f60718293a4b5c6d7e8f"
          },
          "baseBranch": {
            "type": "string",
            "description": "The branch this pull request targets. Must match the queue's `targetBranch` to be enqueueable — `readiness.doesBaseBranchMatch` reports that check.",
            "example": "main"
          },
          "author": {
            "type": "string",
            "example": "octocat"
          },
          "url": {
            "type": "string",
            "description": "Omitted until the provider sync has populated it.",
            "example": "https://github.com/acme/widgets/pull/4901"
          },
          "state": {
            "$ref": "#/components/schemas/PullRequestState"
          },
          "isCurrentlySubmittedToQueue": {
            "type": "boolean",
            "description": "True when this pull request's queue entry is non-terminal.",
            "example": true
          },
          "queueEntry": {
            "$ref": "#/components/schemas/QueueEntry"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "example": "2026-07-28T10:55:00.000Z"
          },
          "htmlUrl": {
            "type": "string",
            "description": "The pull request's page in the Trunk web app. Absent when the repository has no keyed organization.",
            "example": "https://app.trunk.io/acme/pull/4901?repo=1a2b3c4d"
          },
          "viewerIsAuthor": {
            "type": "boolean",
            "description": "Whether the authenticated user authored this pull request. Provided on the queue pull-request list (`GET /merge-queues/{id}/pull-requests`); absent elsewhere and for machine (org-token) principals.",
            "example": true
          }
        },
        "required": [
          "id",
          "repositoryId",
          "number",
          "title",
          "branch",
          "sha",
          "baseBranch",
          "author",
          "isCurrentlySubmittedToQueue",
          "createdAt"
        ],
        "description": "A pull request Trunk has indexed. There is no nested repository object — resolve `repositoryId` with `GET /v2/repositories/{id}`."
      },
      "PullRequestState": {
        "type": "string",
        "enum": ["open", "closed", "merged"],
        "description": "The pull request's state at the provider, as Trunk last indexed it — not its queue state, which is `QueueEntry.state`.",
        "example": "open"
      },
      "QueueEntry": {
        "type": "object",
        "properties": {
          "mergeQueueId": {
            "type": "string",
            "example": "xK9mP2nQ"
          },
          "state": {
            "$ref": "#/components/schemas/QueueEntryState"
          },
          "priorityValue": {
            "type": "integer",
            "description": "Mutually exclusive with `priorityName`; omitted when unset. 0 means skip the line.",
            "example": 100
          },
          "priorityName": {
            "type": "string",
            "description": "Mutually exclusive with `priorityValue`; omitted when unset.",
            "example": "high"
          },
          "skipsTheLine": {
            "type": "boolean",
            "description": "Read-only — derived from `priorityValue === 0`. To set it, send `priorityValue: 0`.",
            "example": false
          },
          "allowBatching": {
            "type": "boolean",
            "description": "Whether this entry may be verified in a batch with others. The queue's own `config.allowBatching` is the ceiling — an entry cannot batch when the queue forbids it.",
            "example": true
          },
          "readiness": {
            "$ref": "#/components/schemas/Readiness"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "When the pull request was enqueued.",
            "example": "2026-07-28T11:02:31.000Z"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "When this entry last changed state or attributes — the most recent `changedAt` in its queue-entry history.",
            "example": "2026-07-28T11:40:02.000Z"
          }
        },
        "required": [
          "mergeQueueId",
          "state",
          "skipsTheLine",
          "allowBatching",
          "readiness",
          "createdAt",
          "updatedAt"
        ],
        "description": "A pull request's queue membership. There is at most one ever — re-submitting the same pull request mutates this record rather than adding another."
      },
      "QueueEntryState": {
        "type": "string",
        "enum": [
          "notReady",
          "pending",
          "testing",
          "testsPassed",
          "merged",
          "failed",
          "cancelled",
          "pendingFailure"
        ],
        "description": "Where a pull request sits in its queue's lifecycle.\n\n| Value | Meaning |\n| --- | --- |\n| `notReady` | Enqueued but not yet eligible to test — a readiness condition is unmet (see `QueueEntry.readiness`). |\n| `pending` | Ready and waiting for a test slot, or waiting on an earlier entry. |\n| `testing` | A verification run is in flight for this entry. |\n| `testsPassed` | Verification succeeded; waiting to merge. |\n| `merged` | Terminal — merged into the target branch. |\n| `failed` | Terminal — verification or the merge itself failed. |\n| `cancelled` | Terminal — removed from the queue (dequeued, or cancelled by the engine). |\n| `pendingFailure` | A failure is expected because an entry ahead failed, but this entry has not been re-tested yet. Not terminal: it usually returns to `pending` or `testing`. |\n\nNew members may be added within v2.",
        "example": "testing"
      },
      "Readiness": {
        "type": "object",
        "properties": {
          "requiresImpactedTargets": {
            "type": "boolean",
            "description": "Whether this queue gates the entry on an impacted-target upload. When true and `hasImpactedTargets` is false, the entry stays `notReady` until CI uploads them (`impactedTargets.upload`).",
            "example": true
          },
          "hasImpactedTargets": {
            "type": "boolean",
            "description": "ABSENT, not false, in three cases: on list reads, for org-token callers, and on the 201 from a submit whose post-write lookup failed. Absence means 'not answered here' — never 'no targets'.",
            "example": true
          },
          "doesBaseBranchMatch": {
            "type": "boolean",
            "description": "Whether the pull request's `baseBranch` still equals the queue's `targetBranch`. False means it was retargeted after being enqueued and cannot merge through this queue.",
            "example": true
          },
          "mergeability": {
            "$ref": "#/components/schemas/Mergeability"
          },
          "mergeabilityDetails": {
            "$ref": "#/components/schemas/MergeabilityDetails"
          }
        },
        "required": [
          "requiresImpactedTargets",
          "doesBaseBranchMatch",
          "mergeability"
        ]
      },
      "Mergeability": {
        "type": "string",
        "enum": ["mergeable", "notMergeable", "inProgress", "unspecified"],
        "description": "The provider's view of whether the pull request can merge. `unspecified` means the provider has not reported one.",
        "example": "mergeable"
      },
      "MergeabilityDetails": {
        "type": "object",
        "properties": {
          "provider": {
            "type": "string",
            "enum": ["github"],
            "example": "github"
          },
          "reasons": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MergeabilityReason"
            },
            "maxItems": 100,
            "description": "The reasons the provider is blocking the merge.",
            "example": [
              {
                "code": "reviewRequired",
                "message": "needs 1 more approving review",
                "have": 0,
                "need": 1
              }
            ]
          }
        },
        "required": ["provider", "reasons"],
        "description": "Present only when Trunk recorded structured reasons for a `notMergeable` verdict — absent otherwise (a repo Trunk has not enriched, or an entry past the not-ready window). Absence never means the pull request is mergeable; fall back to `mergeability`."
      },
      "MergeabilityReason": {
        "type": "object",
        "properties": {
          "code": {
            "$ref": "#/components/schemas/MergeabilityReasonCode"
          },
          "message": {
            "type": "string",
            "description": "Human-readable explanation, for display. Machines should branch on `code`, not this string.",
            "example": "needs 1 more approving review"
          },
          "have": {
            "type": "integer",
            "minimum": 0,
            "description": "`reviewRequired` only: approving reviews currently present.",
            "example": 0
          },
          "need": {
            "type": "integer",
            "minimum": 0,
            "description": "`reviewRequired` only: approving reviews required.",
            "example": 1
          },
          "check": {
            "type": "string",
            "description": "`awaitingCheck` / `failingCheck` only: the required check's name.",
            "example": "build"
          },
          "ontoPrNumber": {
            "type": "integer",
            "minimum": 0,
            "description": "`stackNeedsRebase` only: the number of the pull request this branch must be rebased onto.",
            "example": 3
          }
        },
        "required": ["code", "message"],
        "description": "One structured reason behind a `notMergeable` verdict."
      },
      "MergeabilityReasonCode": {
        "type": "string",
        "enum": [
          "conflict",
          "behind",
          "draft",
          "closed",
          "pending",
          "awaitingCheck",
          "failingCheck",
          "reviewRequired",
          "changesRequested",
          "stackNeedsRebase",
          "other"
        ],
        "description": "Why the pull request is not mergeable. `behind`, `pending`, and `awaitingCheck` resolve without author action (Trunk updates the branch; GitHub is still computing; a required check is still running); the rest need the author to act. `stackNeedsRebase` means a PR in the middle of this GitHub stack was pushed to without rebasing the ones above it. `other` is a block Trunk could not attribute to a specific rule.",
        "example": "reviewRequired"
      },
      "SubmitPullRequestRequest": {
        "type": "object",
        "properties": {
          "number": {
            "type": "integer",
            "exclusiveMinimum": 0,
            "maximum": 10000000
          },
          "allowBatching": {
            "type": "boolean"
          },
          "priorityValue": {
            "type": "integer",
            "minimum": 0,
            "maximum": 32767
          },
          "priorityName": {
            "type": "string",
            "minLength": 1
          },
          "direct": {
            "type": "boolean"
          },
          "force": {
            "type": "boolean",
            "deprecated": true,
            "description": "Deprecated compatibility alias for `direct`; do not send both fields."
          }
        },
        "required": ["number"],
        "additionalProperties": false,
        "description": "Omitting `allowBatching` allows batching. `priorityValue` and `priorityName` are mutually exclusive; `priorityValue: 0` skips the line. `direct` sends the pull request directly to the queue past unmet branch protection / failing required checks, merging via Trunk's bypass app (it does not skip the queue's own tests); an org API key is trusted, while a user token requires repository-admin permission. `force` is a deprecated compatibility alias for `direct`; do not send both fields.",
        "not": {
          "anyOf": [
            {
              "required": ["priorityValue", "priorityName"]
            },
            {
              "required": ["direct", "force"]
            }
          ]
        }
      },
      "PullRequestList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PullRequest"
            },
            "maxItems": 100
          },
          "nextCursor": {
            "type": ["string", "null"],
            "description": "Opaque cursor for the next page, or null on the last page. Pass it back verbatim as `cursor`; do not construct or inspect one.",
            "example": "AQEKZm9vYmFy"
          },
          "hasMore": {
            "type": "boolean",
            "description": "True when another page is available.",
            "example": true
          },
          "total": {
            "type": "integer",
            "description": "Total rows matching the filter. Present only when the request set `includeTotal=true`.",
            "example": 1247
          }
        },
        "required": ["data", "nextCursor", "hasMore"]
      },
      "MergeQueueStateChange": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "xK9mP2nQ"
          },
          "state": {
            "$ref": "#/components/schemas/MergeQueueState"
          },
          "mode": {
            "$ref": "#/components/schemas/MergeQueueMode"
          },
          "pullRequestsUrl": {
            "type": "string",
            "description": "Path — not an absolute URL — of this queue's pull-request collection on the Trunk API.",
            "example": "/v2/merge-queues/xK9mP2nQ/pull-requests"
          }
        },
        "required": ["id", "state", "mode", "pullRequestsUrl"],
        "description": "The queue's state after the write, as the merge engine reported it — never an echo of the requested action, so a queue mid-conversion reports `switchingModes`."
      },
      "SwitchModesRequest": {
        "type": "object",
        "properties": {
          "mode": {
            "type": "string",
            "enum": ["queue", "graph"]
          }
        },
        "required": ["mode"],
        "additionalProperties": false
      },
      "UpdateMergeQueueConfigRequest": {
        "type": "object",
        "properties": {
          "concurrency": {
            "type": "integer",
            "minimum": 1,
            "maximum": 1000
          },
          "bisectionConcurrency": {
            "type": "integer",
            "minimum": 0,
            "maximum": 1000
          },
          "pendingFailureDepth": {
            "type": "integer",
            "minimum": 0,
            "maximum": 1000
          },
          "canOptimisticallyMerge": {
            "type": "boolean"
          },
          "allowBatching": {
            "type": "boolean"
          },
          "batchingMaxWaitTimeMinutes": {
            "type": "integer",
            "minimum": 0,
            "maximum": 10080
          },
          "batchingMinSize": {
            "type": "integer",
            "minimum": 1,
            "maximum": 1000
          },
          "testingTimeoutMinutes": {
            "type": "integer",
            "minimum": 0,
            "maximum": 10080
          },
          "notReadyTimeoutMinutes": {
            "type": "integer",
            "minimum": 0,
            "maximum": 43200
          },
          "createsPrsForTestingBranches": {
            "type": "boolean"
          },
          "areCommentsEnabled": {
            "type": "boolean"
          },
          "areCommandsEnabled": {
            "type": "boolean"
          },
          "isStatusCheckEnabled": {
            "type": "boolean"
          },
          "isExtensionEnabled": {
            "type": "boolean"
          },
          "areLabelCommandsEnabled": {
            "type": "boolean"
          },
          "areStateLabelsEnabled": {
            "type": "boolean"
          },
          "requiredStatuses": {
            "type": "array",
            "items": {
              "type": "string",
              "minLength": 1
            },
            "maxItems": 100
          },
          "allowedBotSubmitters": {
            "type": "array",
            "items": {
              "type": "string",
              "minLength": 1
            },
            "maxItems": 100
          },
          "batchingRules": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "targetPattern": {
                  "type": "string"
                },
                "policy": {
                  "type": "string",
                  "enum": ["isolate"]
                }
              },
              "required": ["targetPattern", "policy"]
            },
            "maxItems": 100
          },
          "directMergeMode": {
            "type": "string",
            "enum": ["off", "always"]
          },
          "optimizationMode": {
            "type": "string",
            "enum": ["off", "bisectionSkipRedundantTests"]
          },
          "mergeMethod": {
            "type": "string",
            "enum": ["mergeCommit", "squash", "rebase"]
          },
          "testBranchConstructionMode": {
            "type": "string",
            "enum": ["renameTempBranch", "pushNewBranchFromTemp"]
          },
          "enqueueingLabel": {
            "type": "string",
            "minLength": 1
          }
        },
        "additionalProperties": false,
        "description": "A JSON Merge Patch: an absent key leaves that setting unchanged, and an unknown key is rejected rather than dropped. `requiredStatuses: []`, `allowedBotSubmitters: []` and `batchingRules: []` clear those lists. A `batchingRules` write replaces the whole set. `notReadyTimeoutMinutes` must be a whole number of hours."
      },
      "UploadImpactedTargetsRequest": {
        "type": "object",
        "properties": {
          "repositoryId": {
            "type": "string",
            "format": "uuid"
          },
          "targetBranch": {
            "type": "string",
            "minLength": 1
          },
          "sha": {
            "type": "string",
            "minLength": 1
          },
          "number": {
            "type": "integer",
            "exclusiveMinimum": 0,
            "maximum": 10000000
          },
          "branch": {
            "type": "string",
            "minLength": 1
          },
          "impactedTargets": {
            "type": "array",
            "items": {
              "type": "string",
              "minLength": 1
            },
            "maxItems": 100000
          },
          "impactsAllTargets": {
            "type": "boolean",
            "enum": [true]
          }
        },
        "required": ["repositoryId", "targetBranch", "sha"],
        "additionalProperties": false,
        "description": "Address the pull request by exactly one of `number` or `branch`, and declare impact with exactly one of `impactedTargets` or `impactsAllTargets: true`. An empty `impactedTargets` array is valid and means the sha impacts nothing.",
        "allOf": [
          {
            "oneOf": [
              {
                "required": ["number"]
              },
              {
                "required": ["branch"]
              }
            ]
          },
          {
            "oneOf": [
              {
                "required": ["impactedTargets"]
              },
              {
                "required": ["impactsAllTargets"]
              }
            ]
          }
        ]
      },
      "VerificationRun": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "a1b2c3d4-e5f6-4718-9a0b-1c2d3e4f5061"
          },
          "isBisection": {
            "type": "boolean",
            "description": "True when this run exists to attribute a failed batch to a specific entry, rather than to verify new work.",
            "example": false
          },
          "testBranch": {
            "type": "string",
            "description": "The ephemeral branch the queue built to run this verification on.",
            "example": "trunk-merge/01HX3K"
          },
          "testBranchSha": {
            "type": "string",
            "example": "1f0a9b8c7d6e5f40312233445566778899aabbcc"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "When the run was created.",
            "example": "2026-07-28T11:05:00.000Z"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "When the run last changed. For a finished run this approximates when it concluded; there is no separate `finishedAt` yet.",
            "example": "2026-07-28T11:35:00.000Z"
          },
          "status": {
            "$ref": "#/components/schemas/VerificationRunStatus"
          },
          "requiredStatuses": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "maxItems": 10000,
            "description": "Names of the checks that were required for this run, snapshotted when it started (resolved from the queue's configured statuses, then `.trunk/trunk.yaml`, then the branch's GitHub protection contexts). A check in `checks` is required iff its `name` is in this list; the checks themselves carry no required flag. Empty means nothing was required.",
            "example": ["Lint (typescript)", "Test (rust)"]
          },
          "checks": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Check"
            },
            "maxItems": 10000,
            "description": "Every check the run observed, provider check runs and commit statuses normalized to one shape. A failure here is the usual reason an entry left `testing` for `failed`."
          },
          "testedPullRequests": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TestedPullRequest"
            },
            "maxItems": 10000,
            "description": "The pull requests included in this run. More than one means the entries were batched, so a failure is attributable to any of them until bisection narrows it."
          }
        },
        "required": [
          "id",
          "isBisection",
          "testBranch",
          "testBranchSha",
          "createdAt",
          "updatedAt",
          "status",
          "requiredStatuses",
          "checks",
          "testedPullRequests"
        ]
      },
      "VerificationRunStatus": {
        "type": "string",
        "enum": ["inProgress", "failed", "cancelled", "succeeded"],
        "description": "`inProgress` — checks are still running. `succeeded` — every required check passed. `failed` — a required check failed, or the run exceeded the queue's `testingTimeoutMinutes` (the two are not distinguished today). `cancelled` — the engine abandoned the run, typically because the entry left the queue or an entry ahead of it failed.",
        "example": "succeeded"
      },
      "Check": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "31245987"
          },
          "name": {
            "type": "string",
            "example": "build"
          },
          "status": {
            "$ref": "#/components/schemas/CheckStatus"
          },
          "conclusion": {
            "$ref": "#/components/schemas/CheckConclusion"
          },
          "url": {
            "type": ["string", "null"],
            "description": "Link to the check at its provider, for a human to open. Null when the provider did not supply one.",
            "example": "https://github.com/acme/widgets/runs/31245987"
          },
          "provider": {
            "type": "string",
            "enum": ["github"],
            "example": "github"
          }
        },
        "required": ["id", "name", "status", "conclusion", "url", "provider"],
        "description": "A normalized CI check. Both provider check runs and commit statuses map onto this one shape."
      },
      "CheckStatus": {
        "type": "string",
        "enum": ["queued", "inProgress", "completed"],
        "description": "A check's lifecycle. Only `completed` means `conclusion` is final; for `queued` and `inProgress` the conclusion is a placeholder (`neutral`).",
        "example": "completed"
      },
      "CheckConclusion": {
        "type": "string",
        "enum": [
          "success",
          "failure",
          "neutral",
          "cancelled",
          "skipped",
          "timeout"
        ],
        "description": "A check's outcome. `neutral` is also the placeholder for a check that has not concluded yet.",
        "example": "success"
      },
      "TestedPullRequest": {
        "type": "object",
        "properties": {
          "number": {
            "type": "integer",
            "example": 4901
          },
          "sha": {
            "type": "string",
            "description": "The head commit that was included in this run. Compare with the pull request's current `sha` to detect that its branch moved since.",
            "example": "9c58bf40e5c1a2b3d4e5f60718293a4b5c6d7e8f"
          }
        },
        "required": ["number", "sha"],
        "description": "A pull request included in a verification run. When a run covers several, a failure is attributable to any of them — that is what bisection resolves."
      },
      "VerificationRunList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/VerificationRun"
            },
            "maxItems": 100
          },
          "nextCursor": {
            "type": ["string", "null"],
            "description": "Opaque cursor for the next page, or null on the last page. Pass it back verbatim as `cursor`; do not construct or inspect one.",
            "example": "AQEKZm9vYmFy"
          },
          "hasMore": {
            "type": "boolean",
            "description": "True when another page is available.",
            "example": true
          },
          "total": {
            "type": "integer",
            "description": "Total rows matching the filter. Present only when the request set `includeTotal=true`.",
            "example": 1247
          }
        },
        "required": ["data", "nextCursor", "hasMore"]
      },
      "QueueEntryHistoryList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/QueueEntryStateTransition"
            },
            "maxItems": 100
          },
          "nextCursor": {
            "type": ["string", "null"],
            "description": "Opaque cursor for the next page, or null on the last page. Pass it back verbatim as `cursor`; do not construct or inspect one.",
            "example": "AQEKZm9vYmFy"
          },
          "hasMore": {
            "type": "boolean",
            "description": "True when another page is available.",
            "example": true
          },
          "total": {
            "type": "integer",
            "description": "Total rows matching the filter. Present only when the request set `includeTotal=true`.",
            "example": 1247
          }
        },
        "required": ["data", "nextCursor", "hasMore"]
      },
      "QueueEntryStateTransition": {
        "type": "object",
        "properties": {
          "state": {
            "$ref": "#/components/schemas/QueueEntryState"
          },
          "changedAt": {
            "type": "string",
            "format": "date-time",
            "description": "When the entry entered this state.",
            "example": "2026-07-28T11:10:00.000Z"
          },
          "reason": {
            "type": ["string", "null"],
            "description": "Why the entry entered this state. `null` for `testing` and `pendingFailure`, which carry no reason.\n\nThe values below are the vocabulary in use today, grouped by the state they accompany. **This is an open set** — it is the engine's own vocabulary and new values may appear within v2, so match on the values you care about and treat anything else as unclassified rather than failing closed.\n\n**Why an entry is waiting (`notReady`)** — `USER_REQUESTED`, `TRUNK_ADMIN_REQUESTED`, `API_REQUESTED`.\n\n**Why an entry (re)entered the line (`pending`)** — these are what distinguish a restart's cause:\n\n| Value | Meaning |\n| --- | --- |\n| `TESTS_RESTARTED_BY_USER` | A person restarted the tests. |\n| `TESTS_RESTARTED_BY_API_REQUEST` | Restarted through the API — e.g. `pullRequests.restartTests`. |\n| `MERGE_ITEM_NOW_READY` | A readiness condition became satisfied. |\n| `MANUAL_PUSH_TO_TARGET_BRANCH` | Someone pushed to the target branch, invalidating the tested state. |\n| `PREREQUISITE_MERGE_ITEM_FAILED` | An entry ahead of this one failed, so this one must re-test. |\n| `PREREQUISITE_MERGE_ITEM_CANCELLED` | An entry ahead was removed. |\n| `PREREQUISITE_MERGE_ITEM_MANUALLY_MERGED` | An entry ahead was merged outside the queue. |\n| `SKIP_THE_LINE_INTERRUPTED` | A higher-priority entry preempted this one. |\n| `BISECTION_REQUIRED` | A batch failed and the engine is bisecting to find the culprit. |\n| `BISECTION_TEST_RUN_PASSED` | A bisection run cleared this entry. |\n\n**Why verification passed (`testsPassed`)** — `TEST_RUN_PASSED`, `SUCCESSOR_TEST_RUN_PASSED`, `PASSED_BY_OPTIMIZATION`.\n\n**Why an entry failed (`failed`)** — `TEST_RUN_REQUIRED_STATUS_FAILED`, `TEST_RUN_TIMEOUT`, `TEST_RUN_FAILED_BY_OPTIMIZATION`, `START_TEST_RUN_MERGE_CONFLICT`, `START_TEST_RUN_RETRY_EXHAUSTED`, `START_TEST_RUN_DRAFT_PRS_NOT_ALLOWED`, `START_TEST_RUN_PERMISSIONS_BLOCK_TEST_BRANCH`, `START_TEST_RUN_NO_REQUIRED_STATUSES`, `START_TEST_RUN_CONFIG_NOT_FOUND`, `START_TEST_RUN_CONFIG_PARSING_FAILURE`, `START_TEST_RUN_CONFIG_BAD_VERSION`, `START_TEST_RUN_CONFIG_BAD_REQUIRED_STATUSES`, `START_TEST_RUN_CONFIG_MISSING_REQUIRED_STATUSES`, `START_TEST_RUN_INVALID_EVENT`, `PR_UPDATED_AT_MERGE_TIME`, `GITHUB_API_MERGE_PR_FAILED`, `GITHUB_API_DIRECT_MERGE_PR_FAILED`, `GITHUB_API_BRANCH_PROTECTION_UNMET`, `GITHUB_API_MERGE_ALREADY_IN_PROGRESS`, `GITHUB_API_RATE_LIMIT_EXCEEDED`, `GITHUB_API_REPEATED_SERVER_ERRORS`.\n\n**Why an entry was removed (`cancelled`)** — `USER_REQUESTED`, `TRUNK_ADMIN_REQUESTED`, `PR_CLOSED`, `PR_PUSHED_TO`, `PR_BASE_BRANCH_CHANGED`, `PR_CONVERTED_TO_DRAFT`, `NOT_READY_TIMEOUT_EXPIRED`, `STACKED_PR_MEMBER_PUSHED_TO`, `STACKED_PR_MEMBER_CLOSED`, `STACKED_PR_MEMBER_MERGED`, `STACKED_PR_MEMBER_BASE_BRANCH_CHANGED`, `STACKED_PR_STACK_CHANGED`, `STACKED_PR_GROUP_CANCELLED_AT_MERGE_TIME`.\n\n**Why an entry merged (`merged`)** — `MERGE_GRAPH_MERGE`, `MERGE_GRAPH_DIRECT_MERGE`, `MANUAL_MERGE`.",
            "example": "TEST_RUN_REQUIRED_STATUS_FAILED"
          },
          "verificationRunId": {
            "type": "string",
            "description": "The verification run this transition concerns — present for `testing`, and for `failed`/`pendingFailure` when the cause was a test. Read it with `GET /v2/merge-queue-verification-runs/{id}` to see which checks failed. Omitted when the transition concerns no run.",
            "example": "a1b2c3d4-e5f6-4718-9a0b-1c2d3e4f5061"
          },
          "actor": {
            "$ref": "#/components/schemas/TransitionActor"
          },
          "prerequisitePullRequestId": {
            "type": "string",
            "description": "For a `PREREQUISITE_*` reason, the pull request ahead of this one whose outcome forced this transition. Read it with `GET /v2/pull-requests/{id}`. Omitted otherwise.",
            "example": "0f8fad5b-d9cb-469f-a165-70867728950e"
          }
        },
        "required": ["state", "changedAt", "reason"],
        "description": "One state change of a pull request's queue entry, and the evidence for it.\n\nTogether these answer why an entry keeps being re-tested: `reason` gives the cause (a person, an API call, an upstream push, a failing entry ahead), `actor` names the person when one is recorded, `verificationRunId` links to the run that failed, and `prerequisitePullRequestId` names the pull request that blocked this one. `actor` is **absent** for engine- and machine-initiated transitions — that is a real answer, not a gap, and `reason` distinguishes them (`TESTS_RESTARTED_BY_USER` vs `TESTS_RESTARTED_BY_API_REQUEST` vs `BISECTION_REQUIRED`)."
      },
      "TransitionActor": {
        "type": "object",
        "properties": {
          "gitHubLogin": {
            "type": "string",
            "description": "The actor's GitHub login.",
            "example": "octocat"
          },
          "trunkUserId": {
            "type": "string",
            "description": "The actor's Trunk user id. Carried alongside the login because a GitHub login is renameable and so cannot be correlated against.",
            "example": "0f8fad5b-d9cb-469f-a165-70867728950e"
          }
        },
        "minProperties": 1,
        "description": "A recorded human cause of a state transition. At least one identifier is present."
      },
      "ReprioritizeRequest": {
        "type": "object",
        "properties": {
          "priorityValue": {
            "type": "integer",
            "minimum": 0,
            "maximum": 32767
          },
          "priorityName": {
            "type": "string",
            "minLength": 1
          }
        },
        "additionalProperties": false,
        "description": "Exactly one of `priorityValue` or `priorityName` is required — an empty body is rejected. `priorityValue: 0` is the write path for skipping the line.",
        "oneOf": [
          {
            "required": ["priorityValue"]
          },
          {
            "required": ["priorityName"]
          }
        ]
      },
      "UpdateQueueEntryRequest": {
        "type": "object",
        "properties": {
          "priorityValue": {
            "type": "integer",
            "minimum": 0,
            "maximum": 32767
          },
          "priorityName": {
            "type": "string",
            "minLength": 1
          },
          "isForceEnqueued": {
            "type": "boolean",
            "description": "Enqueue the pull request even though a readiness condition is unmet, letting the queue test it immediately instead of holding it in `notReady`. It does NOT bypass verification — required checks must still pass to merge. Rejected for org-token callers, whose enqueue lane cannot honour it. Write-only: the value is not reflected on `QueueEntry`.",
            "example": false
          }
        },
        "additionalProperties": false,
        "description": "Patches one or more attributes of a live queue entry; at least one must be sent. `priorityValue` and `priorityName` are mutually exclusive. `skipsTheLine` is not accepted — it is derived from `priorityValue === 0`, so send that. `isForceEnqueued` is rejected for org-token callers, whose enqueue lane ignores the field.",
        "minProperties": 1,
        "not": {
          "required": ["priorityValue", "priorityName"]
        }
      },
      "CiPlan": {
        "type": "object",
        "properties": {
          "jobs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/JobVerdict"
            },
            "maxItems": 1000,
            "description": "One verdict per job. **A job absent from this list must be run** — the documented fail-safe, and how an unrecognized job, a merge-queue branch, and a not-yet-enabled organization are all reported."
          },
          "notice": {
            "$ref": "#/components/schemas/PlanNotice"
          }
        },
        "required": ["jobs"]
      },
      "JobVerdict": {
        "type": "object",
        "properties": {
          "jobKey": {
            "type": "string",
            "description": "The workflow's declarative `jobs:` key — what `github.job` reports and what an `if:` names.",
            "example": "unit-tests"
          },
          "run": {
            "type": "boolean",
            "description": "Whether this job should run.",
            "example": false
          },
          "summary": {
            "type": "string",
            "description": "One-line rationale for the verdict, safe to show to a user.",
            "example": "Skipping: no changed file has ever broken this job."
          },
          "signals": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SignalResult"
            },
            "maxItems": 64,
            "description": "The audit trail behind `summary`, abstentions included."
          }
        },
        "required": ["jobKey", "run", "summary", "signals"]
      },
      "SignalResult": {
        "type": "object",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/SignalType"
          },
          "recommendation": {
            "$ref": "#/components/schemas/SignalRecommendation"
          },
          "message": {
            "type": "string",
            "description": "Human-readable evidence for this signal's contribution.",
            "example": "Passed 98% of 240 runs in the last 14 days."
          },
          "ignored": {
            "type": "boolean",
            "description": "True when `ignoreSignals` excluded this signal from the tally. Its `recommendation` is what it would have contributed.",
            "example": false
          }
        },
        "required": ["type", "recommendation", "message", "ignored"]
      },
      "SignalType": {
        "type": "string",
        "enum": [
          "estimated-cost",
          "previous-result-on-pr",
          "historical-pass-rate",
          "diff-driven-volatility",
          "force-override",
          "merge-failure",
          "mid-pr-stack",
          "required-check",
          "merge-queue-is-required"
        ],
        "description": "Which independent signal produced a contribution to a job's verdict. These identifiers are also what `ignoreSignals` accepts.",
        "example": "historical-pass-rate"
      },
      "SignalRecommendation": {
        "type": "string",
        "enum": [
          "MUST_RUN",
          "VOTE_RUN",
          "VOTE_NO_RUN",
          "NEVER_RUN",
          "INCOMPLETE",
          "ABSTAIN"
        ],
        "description": "One signal's contribution. `MUST_RUN` and `NEVER_RUN` are hard verdicts (a single one decides, with `MUST_RUN` winning a tie); `VOTE_RUN` and `VOTE_NO_RUN` are weighted votes. `INCOMPLETE` means the signal applies but lacks evidence — two of them fail the job safe to running. `ABSTAIN` means the signal does not apply at all and is excluded from the tally entirely, which is what makes it different from `INCOMPLETE`.",
        "example": "VOTE_NO_RUN"
      },
      "PlanNotice": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "A stable identifier for the condition, safe to branch on. Today: `ORG_NOT_ENABLED`, `REPO_NOT_ENABLED`, `REPO_IN_SHADOW_MODE`, `MERGE_QUEUE_BRANCH`, `ENGINE_UNAVAILABLE`, `WORKFLOW_NOT_RECOGNIZED`. **An open set** — fall back to `message` for a code you do not recognize.",
            "example": "ORG_NOT_ENABLED"
          },
          "message": {
            "type": "string",
            "description": "The condition in prose, safe to show to a user verbatim.",
            "example": "Every job will run: Dynamic CI is not enabled for this organization. Contact Trunk to turn it on."
          }
        },
        "required": ["code", "message"],
        "description": "Why this plan has the shape it does. **Absent unless every job runs for a reason `jobs` cannot express**: a not-yet-enabled organization or repository, a merge-queue branch, an engine outage, or a workflow Trunk has not enumerated — all indistinguishable otherwise, and all arriving as an empty `jobs` when you request a whole workflow. `REPO_IN_SHADOW_MODE` is the exception: the plan is fully populated and each `summary` is the recommendation the job would have received, but nothing is allowed to skip."
      },
      "CiPlanRequest": {
        "type": "object",
        "properties": {
          "repo": {
            "$ref": "#/components/schemas/PlanRepo"
          },
          "commitSha": {
            "type": "string",
            "description": "The commit being built (`github.sha`).",
            "example": "9f2c1b7c2b4c9d1e0a3f5b6c7d8e9f0a1b2c3d4e"
          },
          "baseSha": {
            "type": ["string", "null"],
            "description": "The commit to diff against. Null for a non-pull-request event, leaving diff-derived signals without evidence.",
            "example": "1a2b3c4d5e6f708192a3b4c5d6e7f8091a2b3c4d"
          },
          "branch": {
            "type": "string",
            "example": "feature/widget-cache"
          },
          "prNumber": {
            "type": ["integer", "null"],
            "description": "Null for a non-pull-request event.",
            "example": 4213
          },
          "runId": {
            "type": "string",
            "description": "`github.run_id`, recorded so the plan can later be scored against the run's outcome.",
            "example": "18342998211"
          },
          "runAttempt": {
            "type": "integer",
            "description": "`github.run_attempt`, which disambiguates re-runs.",
            "example": 1
          },
          "triggeringActor": {
            "type": "string",
            "description": "`github.triggering_actor`.",
            "example": "octocat"
          },
          "eventName": {
            "type": "string",
            "description": "`github.event_name`.",
            "example": "pull_request"
          },
          "workflowPath": {
            "type": "string",
            "description": "From `github.workflow_ref`; identifies the workflow whose jobs are in scope.",
            "example": ".github/workflows/ci.yaml"
          },
          "jobKeys": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "maxItems": 1000,
            "default": [],
            "description": "The `jobs:` keys to decide. **Empty means every keyed job in the workflow** — the usual call.",
            "example": ["unit-tests"]
          },
          "ignoreSignals": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SignalType"
            },
            "maxItems": 64,
            "description": "Signals to drop from the tally. An unrecognized identifier is rejected, so a typo surfaces.",
            "example": ["estimated-cost"]
          }
        },
        "required": [
          "repo",
          "commitSha",
          "baseSha",
          "branch",
          "prNumber",
          "runId",
          "runAttempt",
          "workflowPath"
        ]
      },
      "PlanRepo": {
        "type": "object",
        "properties": {
          "host": {
            "type": "string",
            "default": "github.com",
            "description": "Disambiguates GitHub.com from a GitHub Enterprise Server host. `github.com` is the only supported value today.",
            "example": "github.com"
          },
          "owner": {
            "type": "string",
            "example": "acme"
          },
          "name": {
            "type": "string",
            "example": "widgets"
          }
        },
        "required": ["owner", "name"]
      },
      "CiWorkflowList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CiWorkflow"
            },
            "maxItems": 100
          },
          "nextCursor": {
            "type": ["string", "null"],
            "description": "Opaque cursor for the next page, or null on the last page. Pass it back verbatim as `cursor`; do not construct or inspect one.",
            "example": "AQEKZm9vYmFy"
          },
          "hasMore": {
            "type": "boolean",
            "description": "True when another page is available.",
            "example": true
          },
          "total": {
            "type": "integer",
            "description": "Total rows matching the filter. Present only when the request set `includeTotal=true`.",
            "example": 1247
          }
        },
        "required": ["data", "nextCursor", "hasMore"]
      },
      "CiWorkflow": {
        "type": "object",
        "properties": {
          "workflowId": {
            "type": "string",
            "example": "2b3c4d5e-0000-4000-8000-000000000002"
          },
          "name": {
            "type": "string",
            "example": "CI"
          },
          "path": {
            "type": ["string", "null"],
            "description": "The workflow file's path. Null if Trunk has not seen one.",
            "example": ".github/workflows/ci.yaml"
          },
          "jobs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CiJob"
            },
            "maxItems": 1000
          }
        },
        "required": ["workflowId", "name", "path", "jobs"]
      },
      "CiJob": {
        "type": "object",
        "properties": {
          "jobId": {
            "type": "string",
            "description": "Trunk's durable id for the job definition.",
            "example": "3c4d5e6f-0000-4000-8000-000000000003"
          },
          "jobKey": {
            "type": ["string", "null"],
            "description": "The workflow's declarative `jobs:` key. **Null until Trunk has resolved it** — such a job gets no verdict from `dynamicCi.generatePlan` and therefore always runs. It is listed anyway, because it is still part of the repository's job set.",
            "example": "unit-tests"
          },
          "name": {
            "type": "string",
            "description": "The rendered display name, which carries matrix values and can change. Address a job by `jobId` or `jobKey`, never by this.",
            "example": "Unit Tests"
          }
        },
        "required": ["jobId", "jobKey", "name"]
      },
      "ForceOverrideList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ForceOverride"
            },
            "maxItems": 100
          },
          "nextCursor": {
            "type": ["string", "null"],
            "description": "Opaque cursor for the next page, or null on the last page. Pass it back verbatim as `cursor`; do not construct or inspect one.",
            "example": "AQEKZm9vYmFy"
          },
          "hasMore": {
            "type": "boolean",
            "description": "True when another page is available.",
            "example": true
          },
          "total": {
            "type": "integer",
            "description": "Total rows matching the filter. Present only when the request set `includeTotal=true`.",
            "example": 1247
          }
        },
        "required": ["data", "nextCursor", "hasMore"]
      },
      "ForceOverride": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "5e6f7081-0000-4000-8000-000000000005"
          },
          "scope": {
            "$ref": "#/components/schemas/ForceOverrideScope"
          },
          "workflowId": {
            "type": "string",
            "description": "Absent for a `pullRequest` scope.",
            "example": "2b3c4d5e-0000-4000-8000-000000000002"
          },
          "jobId": {
            "type": "string",
            "description": "Present only for a `job` scope.",
            "example": "3c4d5e6f-0000-4000-8000-000000000003"
          },
          "headShaAtSave": {
            "type": "string",
            "description": "The pull request's head commit when the force was saved.",
            "example": "9f2c1b7c2b4c9d1e0a3f5b6c7d8e9f0a1b2c3d4e"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "example": "2026-08-20T09:12:00.000Z"
          }
        },
        "required": ["id", "scope", "headShaAtSave", "createdAt"]
      },
      "ForceOverrideScope": {
        "type": "string",
        "enum": ["pullRequest", "workflow", "job"],
        "description": "What a force covers: every job on the pull request, every job in one workflow, or a single job.",
        "example": "job"
      },
      "SetForceOverridesRequest": {
        "type": "object",
        "properties": {
          "repo": {
            "$ref": "#/components/schemas/PlanRepo"
          },
          "prNumber": {
            "type": "integer",
            "exclusiveMinimum": 0,
            "example": 4213
          },
          "headSha": {
            "type": "string",
            "minLength": 1,
            "description": "The pull request's head commit, recorded with each force as evidence of what it was saved against.",
            "example": "9f2c1b7c2b4c9d1e0a3f5b6c7d8e9f0a1b2c3d4e"
          },
          "overrides": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ForceOverrideRequest"
            },
            "maxItems": 1000,
            "description": "The complete desired set. An empty array clears every force on the pull request."
          }
        },
        "required": ["repo", "prNumber", "headSha", "overrides"]
      },
      "ForceOverrideRequest": {
        "type": "object",
        "properties": {
          "scope": {
            "$ref": "#/components/schemas/ForceOverrideScope"
          },
          "workflowId": {
            "type": "string",
            "format": "uuid",
            "description": "Required for `workflow` and `job`; rejected on a `pullRequest` scope, which would otherwise force the whole pull request without saying so.",
            "example": "2b3c4d5e-0000-4000-8000-000000000002"
          },
          "jobId": {
            "type": "string",
            "format": "uuid",
            "description": "Required for `job`; rejected on any other scope, which would otherwise force more than the job named.",
            "example": "3c4d5e6f-0000-4000-8000-000000000003"
          }
        },
        "required": ["scope"]
      },
      "TestCollectionList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TestCollection"
            },
            "maxItems": 100
          },
          "nextCursor": {
            "type": ["string", "null"],
            "description": "Opaque cursor for the next page, or null on the last page. Pass it back verbatim as `cursor`; do not construct or inspect one.",
            "example": "AQEKZm9vYmFy"
          },
          "hasMore": {
            "type": "boolean",
            "description": "True when another page is available.",
            "example": true
          },
          "total": {
            "type": "integer",
            "description": "Total rows matching the filter. Present only when the request set `includeTotal=true`.",
            "example": 1247
          }
        },
        "required": ["data", "nextCursor", "hasMore"]
      },
      "TestCollection": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The collection's id.",
            "example": "aB3xY9kQ"
          },
          "name": {
            "type": "string",
            "example": "Backend integration tests"
          },
          "description": {
            "type": ["string", "null"],
            "example": "Owned by the platform team."
          },
          "testCaseCount": {
            "type": "integer",
            "description": "Distinct test cases seen in this collection. Reflects ingested uploads, so a brand-new collection reports 0 until its first upload is processed.",
            "example": 1284
          },
          "quarantineEnabled": {
            "type": "boolean",
            "description": "Whether quarantining is turned on for this collection. False until configured.",
            "example": true
          },
          "autoQuarantineEnabled": {
            "type": "boolean",
            "description": "Whether flaky tests are quarantined automatically. False until configured.",
            "example": false
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "example": "2026-01-14T09:12:00.000Z"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "example": "2026-07-20T16:44:10.000Z"
          }
        },
        "required": [
          "id",
          "name",
          "description",
          "testCaseCount",
          "quarantineEnabled",
          "autoQuarantineEnabled",
          "createdAt",
          "updatedAt"
        ]
      },
      "CreateTestCollectionRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100,
            "description": "Display name. Leading and trailing whitespace is trimmed.",
            "example": "Backend integration tests"
          },
          "description": {
            "type": "string",
            "maxLength": 500,
            "example": "Owned by the platform team."
          }
        },
        "required": ["name"],
        "description": "Fields for a new test collection."
      },
      "TestCase": {
        "allOf": [
          {
            "$ref": "#/components/schemas/TestCaseSummary"
          },
          {
            "type": "object",
            "properties": {
              "quarantineOverride": {
                "anyOf": [
                  {
                    "$ref": "#/components/schemas/QuarantineOverride"
                  },
                  {
                    "type": "null"
                  }
                ],
                "description": "The override currently in effect on this test, or null if none is."
              },
              "activeMonitors": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ActiveMonitor"
                },
                "maxItems": 100,
                "description": "The monitors currently classifying this test."
              },
              "firstSeenAt": {
                "type": ["string", "null"],
                "format": "date-time",
                "description": "When the test was first ingested. Null for tests last seen before Trunk began recording this, which is not backfilled.",
                "example": "2026-05-20T08:00:00.000Z"
              },
              "lastFailureAt": {
                "type": ["string", "null"],
                "format": "date-time",
                "description": "The most recent failing run Trunk still holds metrics for. Null if the test has never failed within that window.",
                "example": "2026-06-10T12:30:00.000Z"
              }
            },
            "required": [
              "quarantineOverride",
              "activeMonitors",
              "firstSeenAt",
              "lastFailureAt"
            ]
          }
        ]
      },
      "TestStatus": {
        "type": "string",
        "enum": ["healthy", "flaky", "broken"],
        "description": "A test's current composite status, reconciled across every active monitor.",
        "example": "flaky"
      },
      "QuarantineState": {
        "type": "string",
        "enum": ["quarantined", "notQuarantined"],
        "description": "Whether the test is currently quarantined, derived from its status, the collection's quarantine settings and any override.",
        "example": "notQuarantined"
      },
      "Label": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "2b3c4d5e-6f70-4a1b-8c9d-0e1f2a3b4c5d"
          },
          "name": {
            "type": "string",
            "example": "slow-on-prs"
          },
          "color": {
            "type": "string",
            "example": "#4F46E5"
          },
          "description": {
            "type": "string",
            "example": "Tests that only get slow on pull-request runs."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "example": "2026-05-01T00:00:00.000Z"
          }
        },
        "required": ["id", "name", "color", "description", "createdAt"]
      },
      "TestCaseMetrics": {
        "type": "object",
        "properties": {
          "failureRate": {
            "type": "number",
            "description": "Failing runs over total runs in the period, 0 to 1.",
            "example": 0.25
          },
          "prsImpacted": {
            "type": "integer",
            "description": "Distinct pull requests that saw this test fail while it was unhealthy and not quarantined.",
            "example": 3
          },
          "runCount": {
            "type": "integer",
            "example": 40
          },
          "failureCount": {
            "type": "integer",
            "example": 10
          },
          "durationP95Ms": {
            "type": ["integer", "null"],
            "description": "95th-percentile duration in milliseconds. Null when nothing measurable ran in the period — skipped runs are not measured.",
            "example": 1200
          },
          "lastRunAt": {
            "type": ["string", "null"],
            "format": "date-time",
            "example": "2026-06-02T10:00:00.000Z"
          },
          "lastFailureAt": {
            "type": ["string", "null"],
            "format": "date-time",
            "description": "Within the period, unlike the test case's own field.",
            "example": "2026-06-01T10:00:00.000Z"
          }
        },
        "required": [
          "failureRate",
          "prsImpacted",
          "runCount",
          "failureCount",
          "durationP95Ms",
          "lastRunAt",
          "lastFailureAt"
        ]
      },
      "QuarantineOverride": {
        "type": "object",
        "properties": {
          "mode": {
            "$ref": "#/components/schemas/QuarantineMode"
          },
          "reason": {
            "type": ["string", "null"],
            "example": "flaky in CI"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "example": "2026-06-05T00:00:00.000Z"
          }
        },
        "required": ["mode", "reason", "createdAt"]
      },
      "QuarantineMode": {
        "type": "string",
        "enum": ["alwaysQuarantine", "neverQuarantine"],
        "description": "A per-test quarantine override.",
        "example": "alwaysQuarantine"
      },
      "ActiveMonitor": {
        "type": "object",
        "properties": {
          "monitorId": {
            "type": ["string", "null"],
            "description": "Null for `manual`, which has no monitor resource.",
            "example": "1a2b3c4d-5e6f-4a1b-8c9d-0e1f2a3b4c5d"
          },
          "monitorType": {
            "$ref": "#/components/schemas/ActiveMonitorType"
          }
        },
        "required": ["monitorId", "monitorType"],
        "description": "A monitor watching this test. Includes types that never affect its status."
      },
      "ActiveMonitorType": {
        "type": "string",
        "enum": [
          "failureRate",
          "passOnRetry",
          "failureCount",
          "newTest",
          "skippedTest",
          "slowTest",
          "timeoutInflation",
          "manual"
        ],
        "description": "A monitor type that can be active on a test. `manual` is the 'flag as flaky' mark, which has no addressable monitor resource and always reports a null `monitorId`.",
        "example": "failureRate"
      },
      "TestCaseSummary": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The test case's globally unique id. Stable across repos and collections, and safe to store.",
            "example": "bfeebcf4-0000-8000-8000-000000000001"
          },
          "testCollectionId": {
            "type": "string",
            "description": "The owning collection's id.",
            "example": "aB3xY9kQ"
          },
          "repoId": {
            "type": "string",
            "description": "The repository the test was uploaded for. The nil UUID for uploads made without a repository.",
            "example": "7a2b3c4d-5e6f-4a1b-8c9d-0e1f2a3b4c5d"
          },
          "name": {
            "type": "string",
            "example": "suite::test_case_name"
          },
          "parentName": {
            "type": "string",
            "example": "Foo"
          },
          "className": {
            "type": "string",
            "example": "FooSuite"
          },
          "file": {
            "type": "string",
            "example": "src/foo.test.ts"
          },
          "target": {
            "type": "string",
            "description": "The build target that ran the test, when one was reported.",
            "example": "//src:foo_test"
          },
          "variant": {
            "type": "string",
            "example": ""
          },
          "crossVariantId": {
            "type": ["string", "null"],
            "description": "Groups the same test across variants, when it has any.",
            "example": "5d4c3b2a-1f0e-4a1b-8c9d-0e1f2a3b4c5d"
          },
          "codeowners": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "maxItems": 1000,
            "example": ["@team-a"]
          },
          "status": {
            "$ref": "#/components/schemas/TestStatus"
          },
          "quarantineState": {
            "$ref": "#/components/schemas/QuarantineState"
          },
          "labels": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Label"
            },
            "maxItems": 100
          },
          "metrics": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/TestCaseMetrics"
              },
              {
                "type": "null"
              }
            ],
            "description": "Returned only when `include=metrics` is set. Null when the test had no runs in `period`."
          }
        },
        "required": [
          "id",
          "testCollectionId",
          "repoId",
          "name",
          "parentName",
          "className",
          "file",
          "target",
          "variant",
          "crossVariantId",
          "codeowners",
          "status",
          "quarantineState",
          "labels"
        ]
      },
      "TestCaseList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TestCaseSummary"
            },
            "maxItems": 100
          },
          "nextCursor": {
            "type": ["string", "null"],
            "description": "Opaque cursor for the next page, or null on the last page. Pass it back verbatim as `cursor`; do not construct or inspect one.",
            "example": "AQEKZm9vYmFy"
          },
          "hasMore": {
            "type": "boolean",
            "description": "True when another page is available.",
            "example": true
          },
          "total": {
            "type": "integer",
            "description": "Total rows matching the filter. Present only when the request set `includeTotal=true`.",
            "example": 1247
          }
        },
        "required": ["data", "nextCursor", "hasMore"]
      },
      "StatusHistoryEntryList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/StatusHistoryEntry"
            },
            "maxItems": 100
          },
          "nextCursor": {
            "type": ["string", "null"],
            "description": "Opaque cursor for the next page, or null on the last page. Pass it back verbatim as `cursor`; do not construct or inspect one.",
            "example": "AQEKZm9vYmFy"
          },
          "hasMore": {
            "type": "boolean",
            "description": "True when another page is available.",
            "example": true
          },
          "total": {
            "type": "integer",
            "description": "Total rows matching the filter. Present only when the request set `includeTotal=true`.",
            "example": 1247
          }
        },
        "required": ["data", "nextCursor", "hasMore"]
      },
      "StatusHistoryEntry": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "5a7fef9e-c8cd-8eed-8a87-9494bdf96bed"
          },
          "fromStatus": {
            "$ref": "#/components/schemas/TestStatus"
          },
          "toStatus": {
            "$ref": "#/components/schemas/TestStatus"
          },
          "activeMonitors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ClassifyingMonitor"
            },
            "maxItems": 100,
            "description": "The monitors active immediately after the transition, recorded at the time rather than resolved on read — so a monitor deleted since still appears."
          },
          "startedAt": {
            "type": "string",
            "format": "date-time",
            "description": "When this status began — the moment of the transition, and the start of the period the row describes.",
            "example": "2026-06-02T10:00:00.000Z"
          }
        },
        "required": [
          "id",
          "fromStatus",
          "toStatus",
          "activeMonitors",
          "startedAt"
        ]
      },
      "ClassifyingMonitor": {
        "type": "object",
        "properties": {
          "monitorId": {
            "type": ["string", "null"],
            "description": "Null for `manual`, which has no monitor resource.",
            "example": "1a2b3c4d-5e6f-4a1b-8c9d-0e1f2a3b4c5d"
          },
          "monitorType": {
            "$ref": "#/components/schemas/ClassifyingMonitorType"
          }
        },
        "required": ["monitorId", "monitorType"],
        "description": "A monitor that was classifying this test at the moment of the transition."
      },
      "ClassifyingMonitorType": {
        "type": "string",
        "enum": ["failureRate", "passOnRetry", "failureCount", "manual"],
        "description": "A monitor type that can classify a test's status. Narrower than `ActiveMonitorType`: the lifecycle and performance monitors watch a test without ever changing its status.",
        "example": "failureRate"
      },
      "TestRunList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TestRun"
            },
            "maxItems": 100
          },
          "nextCursor": {
            "type": ["string", "null"],
            "description": "Opaque cursor for the next page, or null on the last page. Pass it back verbatim as `cursor`; do not construct or inspect one.",
            "example": "AQEKZm9vYmFy"
          },
          "hasMore": {
            "type": "boolean",
            "description": "True when another page is available.",
            "example": true
          },
          "total": {
            "type": "integer",
            "description": "Total rows matching the filter. Present only when the request set `includeTotal=true`.",
            "example": 1247
          }
        },
        "required": ["data", "nextCursor", "hasMore"]
      },
      "TestRun": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "1f9ddce9-b5f5-5676-8eef-770e11cf761f"
          },
          "conclusion": {
            "$ref": "#/components/schemas/Conclusion"
          },
          "branch": {
            "type": "string",
            "example": "main"
          },
          "isPullRequest": {
            "type": "boolean",
            "description": "True when the run happened on a pull-request branch.",
            "example": false
          },
          "sha": {
            "type": "string",
            "example": "9c58bf40e5c1a2b3d4e5f60718293a4b5c6d7e8f"
          },
          "quarantineState": {
            "$ref": "#/components/schemas/QuarantineState"
          },
          "statusAtRunTime": {
            "$ref": "#/components/schemas/TestStatus"
          },
          "startedAt": {
            "type": "string",
            "format": "date-time",
            "example": "2026-06-02T10:00:00.000Z"
          },
          "endedAt": {
            "type": "string",
            "format": "date-time",
            "example": "2026-06-02T10:00:03.500Z"
          },
          "pullRequest": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/TestRunPullRequest"
              },
              {
                "type": "null"
              }
            ],
            "description": "Null for a run that was not on a pull request."
          },
          "buildUrl": {
            "type": ["string", "null"],
            "description": "Link to the CI job run that reported this test run. Null for older runs: Trunk keeps uploads for less time than it keeps runs.",
            "example": "https://github.com/acme/widgets/actions/runs/1"
          },
          "workflow": {
            "type": ["string", "null"],
            "description": "The CI workflow the run came from.",
            "example": "CI"
          },
          "jobName": {
            "type": ["string", "null"],
            "description": "The name of the CI job within that workflow.",
            "example": "unit"
          }
        },
        "required": [
          "id",
          "conclusion",
          "branch",
          "isPullRequest",
          "sha",
          "quarantineState",
          "statusAtRunTime",
          "startedAt",
          "endedAt",
          "pullRequest",
          "buildUrl",
          "workflow",
          "jobName"
        ]
      },
      "Conclusion": {
        "type": "string",
        "enum": ["success", "failure", "skipped"],
        "description": "How a single test run finished.",
        "example": "failure"
      },
      "TestRunPullRequest": {
        "type": "object",
        "properties": {
          "number": {
            "type": "integer",
            "example": 4901
          },
          "url": {
            "type": "string",
            "description": "The pull request's URL, when Trunk has it.",
            "example": "https://github.com/acme/widgets/pull/4901"
          }
        },
        "required": ["number"]
      },
      "RepositoryList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Repository"
            },
            "maxItems": 100
          },
          "nextCursor": {
            "type": ["string", "null"],
            "description": "Opaque cursor for the next page, or null on the last page. Pass it back verbatim as `cursor`; do not construct or inspect one.",
            "example": "AQEKZm9vYmFy"
          },
          "hasMore": {
            "type": "boolean",
            "description": "True when another page is available.",
            "example": true
          },
          "total": {
            "type": "integer",
            "description": "Total rows matching the filter. Present only when the request set `includeTotal=true`.",
            "example": 1247
          }
        },
        "required": ["data", "nextCursor", "hasMore"]
      },
      "Repository": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "7c9e6679-7425-40de-944b-e07fc1f90ae7"
          },
          "provider": {
            "$ref": "#/components/schemas/Provider"
          },
          "path": {
            "type": "string",
            "description": "The provider-side path, `owner/repo`.",
            "example": "acme/widgets"
          },
          "host": {
            "type": ["string", "null"],
            "description": "Null for a repository on the provider's default host.",
            "example": "github.com"
          },
          "url": {
            "type": "string",
            "example": "https://github.com/acme/widgets"
          },
          "defaultBranch": {
            "type": ["string", "null"],
            "description": "Null until Trunk has synced it.",
            "example": "main"
          },
[...]
