th {
  text-align: left;
}

.tabs {
  border: 1px solid #e2e6ec;
  border-radius: 0.5rem;
}

.dark .tabs {
  border: 1px solid #383a3c;
}
.tabs > ul > li > div {
  padding-left: 10px;
  padding-right: 10px;
}

.tabs > div {
  margin: 0 10px;
}

h5,
h6 {
  margin-top: 20px;
  font-weight: bold;
}
